<!DOCTYPE html>
<html
        lang="en"
        class="light-style layout-menu-fixed"
        dir="ltr"
        data-theme="theme-default"
        data-assets-path="../assets/"
        data-template="vertical-menu-template-free"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout.html}"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"

>
<head>
    <meta charset="utf-8" />
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />

    <title>Do-it4me</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="img/LDFLOGO.png" />

    <link href="css/datatables.min.css" rel="stylesheet">

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="css/boxicons.css" />
    <link rel="stylesheet" href="css/boxicons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="css/perfect-scrollbar.css" />

    <link rel="stylesheet" href="css/apex-charts.css" />

    <!-- Page CSS -->

    <link rel="stylesheet" href="css/myCss.css" />
    <!-- Helpers -->
    <script src="js/helpers.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="js/config.js"></script>
</head>


<body>
<section layout:fragment="content">
    <div class="d-flex justify-content-between">

        <!--chemin-->
        <p class="fw-bold my-primary" style="margin-left: 20px;">
        <span class="text-muted fw-light my-primary">
         <i class="bx bx-cog" style="margin-right: 5px;"></i>
            Administration /</span>
            <i class="bx bxs-institution me-1"></i>Departement
        </p>
        <!--/chemin-->
        <ul class="nav nav-pills flex-column flex-md-row " style="margin-right: 20px;">
            <li>
                <!-- Vertically Centered Modal -->
                <!-- Button trigger modal -->
                <button
                        type="button"
                        class="btn btn-sm  me-1 mb-1 btn-primary"
                        data-bs-toggle="modal"
                        data-bs-target="#modelCreateDepartement"
                        id="creerDepartement"

                >
                    <i class="bx bx-add-to-queue me-1"></i> Créer un Departement
                </button>
            </li>

        </ul>

    </div>
    <!-- content div-->
    <div class="container-fluid h-auto">
        <div class="content-wrapper">

            <!-- Content -->
            <div class="container-xxl flex-grow-1 " STYLE="padding-top: 0px;margin-top: 2px;padding:0px;">

                <div class="row">
                    <div class="col-md-12">

                        <!-- Modal -->
                        <div class="modal fade" id="modelCreateDepartement" tabindex="-1" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button
                                                type="button"
                                                class="btn-close"
                                                data-bs-dismiss="modal"
                                                aria-label="Close"
                                        ></button>
                                    </div>
                                    <div class="modal-body">
                                        <form id="formCreateDepartement"   th:action="@{CreateDepartement}"  th:object="${departement}" class="form-group" method="post">
                                            <input type="hidden" class="form-control" name="iddepartement">
                                            <div class="row mb-3">
                                                <label class="col-sm-2 col-form-label my-primary" for="basic-icon-default-fullname">Société</label>
                                                <div class="col-sm-10">
                                                    <div class="input-group input-group-merge">
                                                        <span id="basic-icon-default-fullname2" class="input-group-text"><i class="bx bx-buildings"></i></span>
                                                        <select class="form-select" id="basic-icon-default-fullname" name="societe.idsociete" >
                                                            <option th:each="p:${societeList}" th:value="${p.idsociete}" th:text="${p.nomsociete}"></option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <label class="col-sm-2 col-form-label my-primary" for="basic-icon-default-company">Departement:</label>
                                                <div class="col-sm-10">
                                                    <div class="input-group input-group-merge">
                                                        <span id="basic-icon-default-company2" class="input-group-text"><i class="bx bxs-institution"></i></span>
                                                        <input    type="text"
                                                                  id="basic-icon-default-company"
                                                                  class="form-control"
                                                                  placeholder="Ex: informatique"
                                                                  name="nomdepartement">
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="row justify-content-end">
                                                <div class="col-sm-10">
                                                    <button type="submit" class="btn btn-primary">Créér</button>
                                                    <button type="reset"
                                                            class="btn btn-outline-secondary"
                                                            onclick="annuler()"
                                                            data-bs-dismiss="modal"
                                                    >Annuler</button>
                                                    <!--<button type="button" class="btn btn-outline-secondary" >
                                                      Close
                                                    </button>-->
                                                </div>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>


                    </div>



                    <!-- Basic Bootstrap Table -->
                    <div class="card">
                        <div class="card-body">
                            <div th:if="${not #strings.isEmpty(msg) or not #strings.isEmpty(msgError)  or not #strings.isEmpty(msg1) }" id="messages" class="mb-3 col-md-12">
                                <div th:if="${not #strings.isEmpty(msg)}" class="form-group">
                                    <div class="alert alert-success" th:text="${msg}"></div>
                                </div>
                                <div th:if="${not #strings.isEmpty(msg1)}" class="form-group ">
                                    <div class="alert alert-success" th:text="${msg1}"></div>
                                </div>
                                <div th:if="${not #strings.isEmpty(msgError)}" class="form-group ">
                                    <div class="alert alert-danger" th:text="${msgError}"></div>
                                </div>
                            </div>
                            <div class="table-responsive text-nowrap">

                                <table  id="example" class="table table-bordered table-sm table-secondary" style="width:100%">
                                    <thead>
                                    <tr>
                                        <th  class="capitalize-first Mycolor" >Société</th>
                                        <th  class="capitalize-first Mycolor"  >Departement</th>
                                        <th class="capitalize-first Mycolor"   >Action</th>
                                    </tr>
                                    </thead>
                                    <tbody class="table-border">
                                    <tr th:each="p:${departements}">
                                        <td th:text="${p.societe!=null? p.societe.nomsociete :'(Sans societe)'}"><i class="fab fa-vuejs fa-lg text-success me-3"></i><strong ></strong></td>
                                        <td th:text="${p.nomdepartement}"></td>

                                        <td>
                                            <div class="dropdown">
                                                <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                                    <i class="bx bx-dots-vertical-rounded"></i>
                                                </button>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item" th:attr="data-id=${p.iddepartement}" onclick="editDepartement(this)"
                                                    ><i class="bx bx-edit-alt me-2"></i> Éditer</a>

                                                    <a class="dropdown-item"  onclick="confirmDelete(event)" th:href="@{/deleteDepartement/{id}(id=${p.iddepartement})}">
                                                        <i class="bx bx-trash me-2"></i> Supprimer</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                    <!--/ Basic Bootstrap Table -->
                </div>
                <!-- /content-->
            </div>
            <!--/ content div-->


            <!-- Core JS -->
            <!-- build:js assets/vendor/js/core.js -->
            <script src="js/jquery.js"></script>
            <script src="js/popper.js"></script>
            <script src="js/bootstrap.js"></script>
            <script src="js/perfect-scrollbar.js"></script>

            <script src="js/menu.js"></script>
            <!-- endbuild -->

            <!-- Vendors JS -->
            <script src="js/apexcharts.js"></script>

            <!-- Main JS -->
            <script src="js/main.js"></script>

            <!-- Page JS -->
            <script src="js/dashboards-analytics.js"></script>
            <script src="js/pages-account-settings-account.js"></script>
            <!-- liens pour les websoket + Stom . -->
            <script src="js/sockjs.min.js"></script>
            <script src="js/stomp.min.js" ></script>
            <!-- le script des websoket notification. -->
            <script src="js/notifWebSocket.js"></script>
            <!-- Place this tag in your head or just before your close body tag. -->
            <script src="js/myJs.js"></script>
            <!-- Data table -->

            <script src="js/jquery.min.js"></script>
            <script src="js/datatables.min.js"></script>
            <script src="js/MyDatatableConf.js"></script>

            <script>
                //Pour editer une departement dans la meme forme
                function editDepartement(button) {
                    const idDepartement = button.getAttribute("data-id");
                    const form = document.getElementById("formCreateDepartement");

                    // Set the idDepartement input field value and update the button text
                    form.querySelector("input[name='iddepartement']").value = idDepartement;
                    form.querySelector("button[type='submit']").textContent = "Mettre à jour";

                    // Fetch Domaine details using AJAX
                    $.ajax({
                        type: "GET", // You may need to adjust this to your backend API
                        url: `get-Departement/${idDepartement}`, // Replace with your API endpoint
                        success: function(data) {
                            // Assuming your API returns data in JSON format

                            const nomDepartement = data.nomdepartement;
                            console.log(data);

                            // Pre-fill the form fields
                            form.querySelector("input[name='nomdepartement']").value = nomDepartement;

                            //si la departement a une societé
                            if(data.societe!=null)
                            {
                                // Pre-select the Societe in the dropdown
                                const select = form.querySelector("select[name='societe.idsociete']");
                                const societeId = data.societe.idsociete;
                                const societeOption = select.querySelector(`option[value="${societeId}"]`);
                                societeOption.setAttribute("selected", "selected");
                            }

                        },
                        error: function(err) {
                            // Handle the error if needed
                            console.error(err);
                        }
                    });

                    //pour afficher le form
                    // Récupérer l'élément du bouton par son attribut 'class'
                    var bouton = document.getElementById("creerDepartement");

                    // Vérifier si le bouton a été trouvé
                    if (bouton) {
                        // Déclencher le clic sur le bouton
                        bouton.click();
                    } else {
                        console.error('Le bouton n\'a pas été trouvé.');
                    }


                    //srcipt permet de défiler la page vers le haut lorsque l'utilisateur clique sur un bouton
                    // Faites défiler la page vers le haut
                    window.scrollTo({
                        top: 0, // La position en pixels en haut de la page
                        behavior: "smooth" // Option pour un défilement fluide
                    });

                }


                function annuler()
                {
                    // Récupérer l'élément du formulaire par son ID
                    var formulaire = document.getElementById('formCreateDepartement');

                    // Vérifier si le formulaire a été trouvé
                    if (formulaire) {
                        // Réinitialiser le formulaire
                        formulaire.reset();

                        if ( formulaire.querySelector("button[type='submit']").textContent === "Mettre à jour") {
                            formulaire.querySelector("button[type='submit']").textContent = "Créer";


                            const idTacheInput = formulaire.querySelector(`input[name='iddepartement']`);
                            idTacheInput.value=null;
                            idTacheInput.textContent="";

                        }
                        dateOuvertureactuelle();
                    } else {
                        console.error('Le formulaire n\'a pas été trouvé.');
                    }
                }


                // Sélectionnez tous les éléments avec la classe "show-message"
                var messageElements = document.querySelectorAll('.show-message');

                // Parcourir chaque élément et ajouter la classe "show" (pour l'animation)
                messageElements.forEach(function(element) {
                    element.classList.add('show');

                    // Supprimer la classe "show" après 5 secondes
                    setTimeout(function() {
                        element.classList.remove('show');
                    }, 5000);
                });
                // Sélectionnez l'élément avec l'id "messages"
                var messagesDiv = document.getElementById("messages");

                // Supprimez la div après 5 secondes (5000 millisecondes)
                setTimeout(function() {
                    if (messagesDiv) {
                        messagesDiv.remove();
                    }
                }, 5500);



                //--------------------pour le formulaire Creer une tâche
                //Pour afficher les taches parentes dans
                // la selelecte dans le formulaire qui permet de creer une tache et actualiser la liste lorsqu'une indexation
                tacheParentes();
                function tacheParentes() {
                    $.ajax({
                        url: `tachesParentes/`,
                        method: 'GET',
                        success: function (taches) {

                            var tachesParentSelect = $("#tacheparente");
                            tachesParentSelect.empty(); // Efface toutes les options actuelles
                            tachesParentSelect.append (new Option("Selectionner la tâche parente",-1));
                            for (var i = 0; i < taches.length; i++) {
                                var option = new Option(taches[i].nomtache, taches[i].idtache);
                                tachesParentSelect.append(option);
                            }
                        }
                    });
                }

             

                //pour regler la douverture
                dateOuvertureactuelle();
                function dateOuvertureactuelle(){
                    //pour la date douverture
                    // Obtenez la date actuelle au format YYYY-MM-DD
                    var currentDate = new Date().toISOString().split('T')[0];

                    // Mettez à jour l'attribut 'min' du champ de saisie de date avec la date actuelle
                    document.getElementById('DateOuverture').min = currentDate;

                    // Mettez à jour l'attribut 'value' du champ de saisie de date avec la date actuelle
                    document.getElementById('DateOuverture').value = currentDate;
                }


            </script>
</section>

</body>
</html>



