<!DOCTYPE html>
<html
        lang="en"
        class="light-style layout-menu-fixed"
        dir="ltr"
        data-theme="theme-default"
        data-assets-path="../assets/"
        data-template="vertical-menu-template-free"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout.html}"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"

>
<head>
    <meta charset="utf-8" />
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />

    <title>Do-it4me</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="img/LDFLOGO.png" />

    <!-- Data table ikns-->
    <link href="css/datatables.min.css" rel="stylesheet">

    <!--notif Js-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="css/boxicons.css" />
    <link rel="stylesheet" href="css/boxicons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="css/perfect-scrollbar.css" />

    <link rel="stylesheet" href="css/apex-charts.css" />

    <!-- Page CSS -->

    <link rel="stylesheet" href="css/myCss.css" />
    <!-- Helpers -->
    <script src="js/helpers.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="js/config.js"></script>
</head>

<body>

<section layout:fragment="content">

    <!-- content div-->
    <div class="container-fluid h-auto">
        <div class="content-wrapper">
            <!--chemin-->
            <p class="fw-bold my-primary" style="margin-left: 20px;">
                <span class="text-muted fw-light my-primary">/</span>
                <i class="bx bxs-user-account me-1"></i> Equipe
            </p>
            <!--/chemin-->
            <!-- Content -->
            <div class="container-xxl flex-grow-1 " STYLE="padding-top: 0px;margin-top: 2px;padding:0px;">

                <div class="row">
                    <div class="col-md-12">

                        <!-- Basic Bootstrap Table-->
                        <div class="card">
                            <div class="card-body">
                                <div class="table-responsive text-nowrap">

                                    <table id="example" style="width:100%" class="table table-bordered table-sm table-secondary">
                                        <thead>
                                        <tr>
                                            <th class="capitalize-first Mycolor">Prénom & <label class="capitalize-first Mycolor">Nom</label> </th>
                                            <th class=" capitalize-first Mycolor">Département</th>
                                            <th class=" capitalize-first Mycolor">Domaine</th>
                                            <th class=" capitalize-first Mycolor">equipes</th>
                                            <th class=" capitalize-first Mycolor">Status</th>
                                        </tr>
                                        </thead>
                                        <tbody class="table-border">
                                        <tr th:each="p:${monEquipe}" >
                                            <td th:text="${monEquipe!=null? p.prenom+' '+p.nom:'(null)'}" ></td>
                                            <td th:text="${p.departement != null ? p.departement.nomdepartement : '(sans departement)'}"></td>
                                            <td th:text="${p.domaine != null ? p.domaine.nomdomaine : '(sans domaine)'}"></td>
                                            <td th:text="${p.equipes.nomequipe}"></td>
                                            <td  th:text="${p.actif==true?'Actif':'desactivé'}" ></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- / Basic Bootstrap Table -->

                        <!-- / Content -->


                        <div class="content-backdrop fade"></div>
                    </div>
                    <!-- Content wrapper -->
                </div>
                <!-- / Layout page -->
            </div>
            <!-- /content-->
        </div>
        <!--/ content div-->


        <script src="js/jquery.js"></script>
        <script src="js/popper.js"></script>
        <script src="js/bootstrap.js"></script>
        <script src="js/perfect-scrollbar.js"></script>

        <script src="js/menu.js"></script>
        <!-- endbuild -->

        <!-- Vendors JS -->
        <script src="js/apexcharts.js"></script>

        <!-- Main JS -->
        <script src="js/main.js"></script>

        <!-- Page JS -->
        <script src="js/dashboards-analytics.js"></script>
        <script src="js/pages-account-settings-account.js"></script>

        <!-- Place this tag in your head or just before your close body tag. -->

        <script src="js/myJs.js"></script>
        <!-- liens pour les websoket + Stom +Jquery. -->
        <script src="js/jquery.min.js"></script>
        <script src="js/sockjs.min.js"></script>
        <script src="js/stomp.min.js" ></script>
        <!-- le script des websoket notification. -->
        <script src="js/notifWebSocket.js"></script>
        <!-- Data table -->
        <script src="js/datatables.min.js"></script>


        <!--notif Js-->
        <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>

        <script src="js/MyDatatableConf.js"></script>

        <script>


            //Pour afficher les taches parentes dans
            // la selelecte dans le formulaire qui permet de creer une tache et actualiser la liste lorsqu'une indexation
            tacheParentes();
            function tacheParentes() {
                $.ajax({
                    url: `tachesParentes/`,
                    method: 'GET',
                    success: function (taches) {

                        var tachesParentSelect = $("#tacheparente");
                        tachesParentSelect.empty(); // Efface toutes les options actuelles
                        tachesParentSelect.append (new Option("Selectionner la tâche parente",-1));
                        for (var i = 0; i < taches.length; i++) {
                            var option = new Option(taches[i].nomtache, taches[i].idtache);
                            tachesParentSelect.append(option);
                        }
                    }
                });
            }

            function annuler() {
                // Récupérer l'élément du formulaire par son ID
                var formulaire = document.getElementById('formAccountSettings');
                var   btnSubmit= document.getElementById('submit');
                var inputEDateOuverture = document.getElementById("DateOuverture");

                // Vérifier si le formulaire a été trouvé
                if (formulaire) {
                    // Réinitialiser le formulaire
                    formulaire.reset();

                    if ( btnSubmit.textContent === "Mettre à jour") {btnSubmit.textContent = "Envoyer";}

                    // Pre-select the Proprietaire in the dropdown
                    const select1 = formulaire.querySelector("select[name='proprietaire']");
                    select1.removeAttribute("readonly");
                    select1.onmousedown = null;
                    select1.style.cursor = "default";

                    // Pre-select the Recepteur in the dropdown
                    const select = formulaire.querySelector("select[name='recepteur']");
                    select.removeAttribute("readonly");
                    select.onmousedown = null;
                    select.style.cursor = "default";

                    //remove Disable editing and selection for nomtache
                    const inputField = formulaire.querySelector(`input[name='nomtache']`);
                    inputField.removeAttribute("readonly");
                    inputField.onmousedown = null; // Supprimer l'événement onmousedown
                    inputField.style.cursor = "text"; // Changer le style du curseur en mode édition

                    const idTacheInput = formulaire.querySelector(`input[name='idtache']`);
                    idTacheInput.value=null;
                    idTacheInput.textContent="";


                    // Disable editing and selection for tacheparente
                    const selec = formulaire.querySelector("select[name='tacheparente']");
                    selec.removeAttribute("readonly");
                    selec.onmousedown = null;
                    selec.style.cursor = "default";

                    //Date d ouverture
                    const inputEDateOuverture = formulaire.querySelector(`input[name='dateouverture']`);
                    inputEDateOuverture.removeAttribute("readonly");
                    inputEDateOuverture.onmousedown = null;
                    inputEDateOuverture.style.cursor = "default";
                    inputEDateOuverture.disabled=false;
                    inputEDateOuverture.onmousedown = null; // Supprimer l'événement onmousedown
                    //inputEDateOuverture.style.cursor = "text"; // Changer le style du curseur en mode édition
                    dateOuvertureactuelle();
                } else {
                    console.error('Le formulaire n\'a pas été trouvé.');
                }

                //pour regler la douverture
                dateOuvertureactuelle();

            }

            //pour regler la douverture
            dateOuvertureactuelle();
            function dateOuvertureactuelle(){
                //pour la date douverture
                // Obtenez la date actuelle au format YYYY-MM-DD
                var currentDate = new Date().toISOString().split('T')[0];

                // Mettez à jour l'attribut 'min' du champ de saisie de date avec la date actuelle
                document.getElementById('DateOuverture').min = currentDate;

                // Mettez à jour l'attribut 'value' du champ de saisie de date avec la date actuelle
                document.getElementById('DateOuverture').value = currentDate;
            }
        </script>

</section>

</body>
</html>
