<!DOCTYPE html>

<html
        lang="en"
        class="light-style layout-menu-fixed"
        dir="ltr"
        data-theme="theme-default"
        data-assets-path="../assets/"
        data-template="vertical-menu-template-free"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout.html}"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="utf-8" />
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />

    <title>Do-it4me</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="img/LDFLOGO.png" />

    <!-- Data table ikns-->
    <link href="css/datatables.min.css" rel="stylesheet">


    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="css/boxicons.css" />
    <link rel="stylesheet" href="css/boxicons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="css/perfect-scrollbar.css" />

    <link rel="stylesheet" href="css/apex-charts.css" />

    <!-- Page CSS -->

    <link rel="stylesheet" href="css/myCss.css" />
    <!-- Helpers -->
    <script src="js/helpers.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="js/config.js"></script>
</head>


<body>
<section layout:fragment="content">

    <div class="d-flex justify-content-between">

        <!--chemin-->
        <p class="fw-bold f my-primary" style="margin-left: 20px;">
        <span class="text-muted fw-light my-primary">
         <i class="bx bx-cog" style="margin-right: 5px;"></i>
            Administration /</span>
            <i class="bx bxs-user-account me-1"></i> Equipe
        </p>
        <!--/chemin-->

        <ul class="nav nav-pills flex-column flex-md-row " style="margin-right: 20px;">
            <li>
                <!-- Vertically Centered Modal -->
                <!-- Button trigger modal -->
                <button
                        type="button"
                        class="btn  btn-sm  me-1 mb-1 btn-primary"
                        data-bs-toggle="modal"
                        data-bs-target="#modalCreateEquipe"
                        id="creerEquipe"
                >
                    <i class="bx bx-add-to-queue me-1"></i> Créer une Equipe
                </button>
            </li>

        </ul>

    </div>


    <!-- content div-->
    <div class="container-fluid h-auto">
        <div class="content-wrapper">

            <!-- Content -->
            <div class="container-xxl flex-grow-1 " STYLE="padding-top: 0px;margin-top: 2px;padding:0px;">

                <div class="row">
                    <div class="col-md-12">

                        <!-- Modal -->
                        <div class="modal fade" id="modalCreateEquipe" tabindex="-1" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button
                                                type="button"
                                                class="btn-close"
                                                data-bs-dismiss="modal"
                                                aria-label="Close"
                                        ></button>
                                    </div>
                                    <div class="modal-body">
                                        <form id="formCreateEquipe" th:action="@{CreateEquipe}"  th:object="${equipe}" method="post" >
                                            <input id="idequipe" type="hidden" class="form-control" name="idequipe">
                                            <div class="row">
                                                <div class="mb-3 col-md-12">
                                                    <label for="firstName" class="form-label">nom d'equipe</label>
                                                    <input
                                                            class="form-control"
                                                            type="text"
                                                            id="firstName"
                                                            name="nomequipe"
                                                            placeholder="nom d'équipe "
                                                            autofocus required="required"
                                                    />
                                                </div>

                                                <!---->
                                                <div class="mb-3 col-md-12">
                                                    <label for="societeSelect" class="form-label">Société</label>
                                                    <select id="societeSelect" name="soci"  class="select2 form-select" >
                                                        <option  id="firstSelect" value="" selected="selected">Sélectionnez une société</option >
                                                        <option th:each="p:${societeList}"  th:text="${p.nomsociete}" th:value="${p.idsociete}" ></option>
                                                    </select>
                                                </div>

                                                <div class="mb-3 col-md-12">
                                                    <label for="DepartementSelect" class="form-label">Departement</label>
                                                    <select  multiple="multiple" id="DepartementSelect"  class=" form-select "  >
                                                        <option value="" selected="selected">Sélectionnez une departement</option >
                                                    </select>
                                                </div>
                                                <div class="mb-3 col-md-12">
                                                    <label for="utilisateurSelect" class="form-label" >responsable d'équipe </label>
                                                    <select required="required" id="utilisateurSelect"  class="select2 form-select" name="idutilresponsabledequipe">
                                                    </select>
                                                </div>
                                                <div class="mb-3 col-md-6">
                                                    <small class="text-light fw-semibold">Sélectionner les membres d'équipe </small>
                                                    <div id="userCheckboxes"  class="col-md">

                                                    </div>
                                                </div>

                                            </div>


                                            <div class="mt-2">
                                                <button id="sub" type="submit" class="btn btn-primary me-2">Créer</button>
                                                <button
                                                        class="btn btn-outline-secondary"
                                                        onclick="annuler()"
                                                        data-bs-dismiss="modal"
                                                >Annuler</button>
                                                <!--<button type="button" class="btn btn-outline-secondary" >
                                                  Close
                                                </button>-->
                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>


                    </div>


                    <!-- /Account -->
                </div>
                <div class="card mb-4">
                    <div class="card-body">
                        <div id="messages" th:if="${not #strings.isEmpty(msg) or not #strings.isEmpty(msgError)  or not #strings.isEmpty(msg2) or not #strings.isEmpty(msg1) }" class="mb-3 col-md-12">
                            <div th:if="${not #strings.isEmpty(msg)}" class="form-group">
                                <div class="alert alert-success" th:text="${msg}"></div>
                            </div>
                            <div th:if="${not #strings.isEmpty(msg1)}" class="form-group ">
                                <div class="alert alert-danger" th:text="${msg1}"></div>
                            </div>
                            <div th:if="${not #strings.isEmpty(msg2)}" class="form-group ">
                                <div class="alert alert-success" th:text="${msg2}"></div>
                            </div>
                            <div th:if="${not #strings.isEmpty(msgError)}" class="form-group ">
                                <div class="alert alert-danger" th:text="${msgError}"></div>
                            </div>

                        </div>

                        <table  id="example" style="width:100%" class="table  table-bordered table-secondary" >
                            <thead>
                            <tr>
                                <th class="capitalize-first Mycolor"  >Nom d'équipe </th>
                                <th class="capitalize-first Mycolor"  >Responsable d'équipe </th>
                                <th class="capitalize-first Mycolor"  >Société</th>
                                <th class="capitalize-first Mycolor"  >Memebres</th>
                                <th class="capitalize-first Mycolor"  >Action</th>
                            </tr>
                            </thead>
                            <tbody class="table-border">
                            <tr th:each="p:${equipeList}">
                                <td th:text="${p.nomequipe}" ></td>
                                <td th:text="${p.responsable !=null ?p.responsable.prenom+' '+p.responsable.nom:'(Sans responsable)'}"></td>
                                <td th:text="${p.responsable!=null && p.responsable.societe!=null ?p.responsable.societe.nomsociete:'Sans société'}"></td>
                                <td>
                                    <!-- Boucle sur les membres de l'équipe -->
                                    <li th:each="membre : ${p.membres}" th:text="${membre.prenom+' '+membre.nom}"></li>
                                </td>
                                <td>
                                    <div class="dropdown">
                                        <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                            <i class="bx bx-dots-vertical-rounded"></i>
                                        </button>
                                        <div class="dropdown-menu">
                                            <a   class="dropdown-item" th:attr="data-id=${p.idequipe}" onclick="editEquipe(this)"
                                            ><i class="bx bx-edit-alt me-2"></i> Éditer</a
                                            >
                                            <a class="dropdown-item" onclick="confirmDelete(event)" th:href="@{/deleteEquipe/{id}(id=${p.idequipe})}"
                                            ><i class="bx bx-trash me-2"></i> Supprimer</a
                                            >
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /content-->
    </div>
    <!--/ content div-->



    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="js/jquery.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/perfect-scrollbar.js"></script>

    <script src="js/menu.js"></script>
    <!-- endbuild -->

    <!-- Vendors JS -->
    <script src="js/apexcharts.js"></script>

    <!-- Main JS -->
    <script src="js/main.js"></script>

    <!-- Page JS -->
    <script src="js/dashboards-analytics.js"></script>
    <script src="js/pages-account-settings-account.js"></script>

    <!-- Place this tag in your head or just before your close body tag. -->

    <script src="js/myJs.js"></script>

    <!-- Data table -->
    <script src="js/jquery.min.js">

    </script><script src="js/datatables.min.js"></script>

    <!-- liens pour les websoket + Stom . -->
    <script src="js/sockjs.min.js"></script>
    <script src="js/stomp.min.js" ></script>
    <!-- le script des websoket notification. -->
    <script src="js/notifWebSocket.js"></script>
    <script src="js/MyDatatableConf.js"></script>

    <!--script pour les filtres -->
    <!---->
    <script type="text/javascript">

        //Attention : le code javascript de cette page n'est pas bien organisé
        // puisque c'est la première fois que j'apprends des nouvelles choses



        //______________________script1___________________
        //un variable pour stocker tous les idutilisateur des responsables
        var AllRespoIds=[];
        var departementSelect = document.getElementById('DepartementSelect');
        const utilisateurSelect = document.getElementById('utilisateurSelect');
        const userCheckboxes = document.getElementById('userCheckboxes');
        var submitTexteContent=document.getElementById('sub').textContent;
        var LesSuperieurs=[];
        var utilisateurMembrePourChekBoxe=[];
        //pour le responsable d'équipe
        var responsableVar;
        //pour stocker les membres d'équipe
        var MembresEquipe;
        //un variable pour stocker l'id de departement de l'utilisateur edité;
        var DepartementId;

        var selectedSociete;

        var utilisateursDeSocieteSelectionne;
        var selectedUser;


        //fonction pour récupérer tous les idutilisateur des responsable
        fetch('getAllIdresponsable')
            .then(response => response.json())  // Parsez la réponse en tant que JSON
            .then(data => {
                // Manipulez les données ici
                //console.log(data);  // Affichez les données dans la console
                for (var j=0;j<data.length;j++)
                {if (data[j].responsable!=null) {AllRespoIds.push(data[j].responsable.idutilisateur)}}
                //console.log(AllRespoIds);
            })
            .catch(error => {
                console.error('Erreur lors de la récupération des données :', error);
            });

        // Fonction pour récupérer les utilisateurs et les départements associés aux Societe sélectionnés
        // $(document).ready(function() {..}) en jQuery est utilisée pour exécuter du code JavaScript lorsque:
        // le document HTML (la page web) est entièrement chargé et prêt à être manipulé par le code JavaScript
        $(document).ready(function()
        {
            $("#societeSelect").change(function() {
                var selectedSocieteId = $(this).val();

                if (selectedSocieteId=="")
                {
                    document.getElementById("utilisateurSelect").innerHTML = "";
                    document.getElementById("DepartementSelect").innerHTML = "";
                    document.getElementById("userCheckboxes").innerHTML = "";
                }else {
                    updateDepartemensOptions(selectedSocieteId);
                    updateUtilisateursOptions(selectedSocieteId);
                }
            });
        });

        function updateUtilisateursOptions(selectedSocieteId) {
            // Utilisez AJAX pour obtenir la liste des départements de la société sélectionnée depuis le serveur
            $.ajax({
                type: "GET",
                url: "get-utilisateur-by-societe/" + selectedSocieteId, // Remplacez cette URL par votre endpoint
                success: function(data)
                {
                    var utilisateurSelect = $("#utilisateurSelect");

                    utilisateurSelect.empty(); // Efface toutes les options actuelles
                    //ajouter une option qui permet de creer une equipe sans responsable
                    utilisateurSelect.append(new Option("Sans responsable",-1));

                    // Ajoutez les nouvelles options basées sur les données reçuesb (pour select)
                    for (var i = 0; i < data.length; i++) {
                        const isResbon = AllRespoIds.some(x => x == data[i].idutilisateur);
                        if (isResbon) {continue;} // Si l'utilisateur est responsable, passez à l'itération suivante
                        else {utilisateurSelect.append(new Option(data[i].nom, data[i].idutilisateur));}
                    }


                    // Effacez d'abord la liste actuelle d'utilisateurs
                    $(".form-check").remove();

                    // Ajoutez les nouvelles options basées sur les données reçues (pour chekbox)
                    for (var i = 0; i < data.length; i++) {
                        var utilisateur = data[i];
                        var checkboxHtml = '<div class="form-check mt-3">' +
                            '<input class="form-check-input" type="checkbox" id="utilisateurCheckbox' + utilisateur.idutilisateur + '" value="' + utilisateur.idutilisateur + '" name="idutilisateur" />' +
                            '<label class="form-check-label" for="utilisateurCheckbox' + utilisateur.idutilisateur + '">' + utilisateur.nom +' '+utilisateur.prenom+ '</label>' +
                            '</div>';
                        $(".col-md").append(checkboxHtml);

                    }
                    if (utilisateur!=null) {
                        if (utilisateur.societe!=null) {
                            selectedSociete=utilisateur.societe;
                            // console.log(selectedSociete.nomsociete);
                            utilisateursDeSocieteSelectionne=data;
                        }


                    }

                }

            });
        }



        function updateDepartemensOptions(selectedSocieteId) {
            // Utilisez AJAX pour obtenir la liste des départements de la société sélectionnée depuis le serveur
            $.ajax({
                type: "GET",
                url: "get-Departement-by-societe/" + selectedSocieteId, // Remplacez cette URL par votre endpoint
                success: function(data) {
                    var DepartementSelect = $("#DepartementSelect");

                    DepartementSelect.empty(); // Efface toutes les options actuelles
                    // Ajoutez les nouvelles options basées sur les données reçuesb (pour select)
                    for (var i = 0; i < data.length; i++) {
                        DepartementSelect.append(new Option(data[i].nomdepartement, data[i].iddepartement));

                    }
                    //sotocker la societé selectionné
                }
            });
        }




        //______________________script2___________________
        // Fonction pour récupérer les utilisateurs associés aux départements sélectionnés


        departementSelect.addEventListener('change', () => {
            // Récupérer les départements sélectionnés
            //departementSelect.selectedOptions: est une propriété de l'élément <select> qui renvoie une collection de toutes les options sélectionnées.
            //Array.from(): est utilisé pour convertir la collection renvoyée par selectedOptions en un tableau JavaScript.
            // Les collections d'éléments DOM ne sont pas des tableaux
            // (option => option.value). Elle prend chaque élément (dans ce cas, une option) de la collection selectedOptions et renvoie la valeur de l'attribut value de cet élément.
            // Cela permet d'extraire la valeur de chaque option sélectionnée et de la stocker dans un nouveau tableau.

            //selectedDepartements: un tableau des valeur sélectionnées
            const selectedDepartements = Array.from(departementSelect.selectedOptions).map(option => option.value);
            DepartementsSelected=Array.from(departementSelect.selectedOptions).map(option => option.value);
            if (submitTexteContent=="Créer") {

                //console.log(selectedDepartements)
                // Appeler l'API backend pour récupérer les utilisateurs en fonction des départements sélectionnés
                // envoie une requête GET à l'URL /utilisateurs
                //selectedDepartements.join(',')prend le tableau selectedDepartementset le transforme en une chaîne en joignant ses éléments avec des virgules.["informatique", "mathematiques"]
                /*then(response => response.json()):cette partie du code gère la réponse. lorsque la réponse HTTP est reçue.
                La fonction fléchée ici prend la réponse response et utilise la méthode .json() pour extraire le contenu JSON de la réponse. */
                fetch(`utilisateurs?departements=${selectedDepartements.join(',')}`)
                    .then(response => response.json())
                    .then(data => {
                        //stocker les utilisateur des departemen selectionné
                        utilisateurMembrePourChekBoxe=data;
                        // Effacer le contenu actuel du select des utilisateurs
                        utilisateurSelect.innerHTML = '';
                        // Effacer le contenu actuel des cases à cocher des utilisateurs
                        userCheckboxes.innerHTML = '';

                        //ajouter une option qui permet de creer une equipe sans responsable
                        utilisateurSelect.append(new Option("Sans responsable",-1));

                        // Ajouter les utilisateurs récupérés au select des utilisateurs
                        data.forEach(user => {
                            const option = document.createElement('option');
                            const isResbon = AllRespoIds.some(x => x == user.idutilisateur);
                            if (isResbon ) {
                                return; // Si l'utilisateur est responsable, passez à l'itération suivante
                            }
                            option.value = user.idutilisateur; // Remplacez cela par la propriété appropriée de l'utilisateur
                            option.text = user.nom; // Remplacez cela par la propriété appropriée de l'utilisateur
                            utilisateurSelect.appendChild(option);

                        });

                        data.forEach(user => {
                            const userCheckbox = document.createElement('div');
                            userCheckbox.innerHTML = `
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="utilisateurCheckbox${user.idutilisateur}" value="${user.idutilisateur}" name="idutilisateur" />
                        <label class="form-check-label" for="utilisateurCheckbox${user.idutilisateur}">${user.nom} ${user.prenom}</label>
                    </div>
                `;
                            userCheckboxes.appendChild(userCheckbox);
                            //console.log(typeof (user.idutilisateur));
                        });
                    })
                    .catch(error => console.error('Erreur lors de la récupération des utilisateurs :', error));
            }
        });





        // Fonction pour éviter qu'un utilisateur soit responsable envers ses supérieurs
        utilisateurSelect.addEventListener('change', () => {
            // Récupérer l'ID de l'utilisateur sélectionné
            var idutilisateur = utilisateurSelect.value;
            selectedUser=utilisateurSelect.value
            // console.log(selectedUser);
            // Effacer le contenu actuel des cases à cocher des utilisateurs
            userCheckboxes.innerHTML = '';

            // Fonction pour récupérer les supérieurs de l'utilisateur
            fetch(`getAllSuperieursForUtilisateurByIdUtilisateur?idutilisateur=${idutilisateur}`)
                .then(response => {
                    if (!response.ok) {
                        throw new Error(`Erreur HTTP ! Statut : ${response.status}`);
                    }
                    return response.json();
                })
                .then(data => {

                    var ListeSuperieur=[];
                    data.forEach(x=>{
                        ListeSuperieur.push(x.idutilisateur);
                    })



                    if (submitTexteContent === "Mettre à jour") {

                        fetch(`utilisateurs?departements=${DepartementsSelected.join(',')}`)
                            .then(response => response.json())
                            .then(data => {
                                // Effacer le contenu actuel du select des utilisateurs
                                utilisateurSelect.innerHTML = '';
                                // Effacer le contenu actuel des cases à cocher des utilisateurs
                                userCheckboxes.innerHTML = '';

                                // Ajoutez les nouvelles options basées sur les données reçuesb (pour select)
                                utilisateurSelect.append(new Option("Sans responsable",-1));

                                // Ajouter les utilisateurs récupérés au select des utilisateurs
                                data.forEach(user => {
                                    const option = document.createElement('option');
                                    /*
                                    *  if (responsableVar != null) {
                                         if (user.idutilisateur == idutilisateur) {
                                             option.selected = true;
                                         }
                                     }
                                     * */
                                    if (user!=null) {
                                        if (user.idutilisateur == idutilisateur) {
                                            option.selected = true;
                                        }
                                    }


                                    const isResbonsable = AllRespoIds.some(x => x == user.idutilisateur);
                                    if (isResbonsable && responsableVar!=null && user.idutilisateur != responsableVar.idutilisateur) {
                                        return; // Si l'utilisateur est responsable, passez à l'itération suivante
                                    }

                                    if (isResbonsable && responsableVar==null ) {
                                        return; // Si l'utilisateur est responsable, passez à l'itération suivante
                                    }
                                    option.value = user.idutilisateur; // Remplacez cela par la propriété appropriée de l'utilisateur
                                    option.text = user.nom; // Remplacez cela par la propriété appropriée de l'utilisateur
                                    utilisateurSelect.appendChild(option);
                                });
                                data.forEach(user => {
                                    //verifier si l utilisateur est membre de cette equipe ou non
                                    const isMember = MembresEquipe.some(membre => membre.idutilisateur === user.idutilisateur);

                                    const isSuperieur = ListeSuperieur.some(x => x == user.idutilisateur);
                                    if (!isSuperieur && user.idutilisateur!=selectedUser){
                                        //console.log("dep:",user);
                                        const userCheckbox = document.createElement('div');
                                        userCheckbox.innerHTML = `
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="utilisateurCheckbox${user.idutilisateur}" value="${user.idutilisateur}" name="idutilisateur"  ${isMember ? 'checked="checked"' : ''}/>
                        <label class="form-check-label" for="utilisateurCheckbox${user.idutilisateur}">${user.nom} ${user.prenom}</label>
                    </div>
                `;
                                        userCheckboxes.appendChild(userCheckbox);
                                    }
                                });
                            })

                            .catch(error => console.error('Erreur lors de la récupération des utilisateurs :', error));

                    } else {

                        //  console.log(utilisateursDeSocieteSelectionne)

                        // Parcourir tous les utilisateurs membres pour les cases à cocher
                        utilisateursDeSocieteSelectionne.forEach(user => {


                            // Vérifier si l'utilisateur actuel est un supérieur
                            const isSuperieur = ListeSuperieur.some(x => x == user.idutilisateur);
                            if (!isSuperieur && user.idutilisateur!=selectedUser) {
                                //console.log("dep:",user);
                                const userCheckbox = document.createElement('div');
                                userCheckbox.innerHTML = `
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="utilisateurCheckbox${user.idutilisateur}" value="${user.idutilisateur}" name="idutilisateur" />
                        <label class="form-check-label" for="utilisateurCheckbox${user.idutilisateur}">${user.nom} ${user.prenom}</label>
                    </div>
                `;
                                userCheckboxes.appendChild(userCheckbox);
                            }

                        });

                    }

                })
                .catch(error => {
                    console.error("Erreur de Fetch :", error);
                });
        });




        //---------------------Script3
        //Pour editer une equipe dans le meme formulaire

        function editEquipe(button){
            const idEquipe = button.getAttribute("data-id");
            const form = document.getElementById("formCreateEquipe");
            // Set the idDepartement input field value and update the button text
            form.querySelector("input[name='idequipe']").value = idEquipe;
            form.querySelector("button[type='submit']").textContent = "Mettre à jour";
            submitTexteContent=document.getElementById('sub').textContent;
            // console.log(submitTexteContent);
            // Fetch Domaine details using AJAX
            $.ajax({
                type: "GET",
                url: `get-Equipe/${idEquipe}`, //  API endpoint
                success: function(data) {
                    // verifier l API retourné une format JSON
                    const nomeEquipe = data.nomequipe;
                    responsableVar = data.responsable;
                    if (data.responsable!=null) {
                        selectedUser=data.responsable.idutilisateur;
                    }
                    //console.log(data);
                    // console.log(data.responsable);
                    // Pre-fill the form fields
                    form.querySelector("input[name='nomequipe']").value = nomeEquipe;
                    const select = form.querySelector("select[id='societeSelect']");
                    if (data.membres!= null || data.responsable!= null) {
                        var idSociete;
                        //Si les mambres existe
                        if (data.membres!=null){
                            for (i = 0; i < data.membres.length; i++) {
                                //si les membre posede une societe
                                if (data.membres[i].societe != null) {
                                    //pour stoker l'idsociete de l'equipe edité appartir les mambres
                                    idSociete = data.membres[i].societe.idsociete;
                                    break;
                                }
                            }
                        }
                        //Si le responsable existe
                        if (data.responsable!= null) {
                            //pour stoker l'idsociete de l'equipe edité appartir le respo s'il existe
                            if (data.responsable.societe != null) {
                                idSociete = data.responsable.societe.idsociete;
                            }
                            if (data.responsable.departement != null) {
                                // pour stocke l'id de departement du responsable edité;
                                DepartementId = data.responsable.departement.iddepartement;
                            }
                        }

                        const SocieteOption = select.querySelector(`option[value="${idSociete}"]`);
                        if (SocieteOption != null) {
                            //supprimer l'attribut selected de Societe
                            SocieteOption.removeAttribute("selected");
                            //donne la valeur selected pour l'attribut selected
                            SocieteOption.setAttribute("selected", "selected");
                        }

                        //un variable pour stocke les departements des membres de l'equipe edité;
                        MembresEquipe = data.membres;

                        if (idSociete!=null)
                        {updateDepartementOptions(idSociete)}
                        else
                        {
                            document.getElementById("utilisateurSelect").innerHTML = "";
                            document.getElementById("DepartementSelect").innerHTML = "";
                            $(".form-check").remove();
                        }
                    }
                },
                error: function(err) {
                    // Handle the error if needed
                    console.error(err);
                }
            });
            //pour afficher le form
            // Récupérer l'élément du bouton par son attribut 'class'
            var bouton = document.getElementById("creerEquipe");

            // Vérifier si le bouton a été trouvé
            if (bouton) {
                // Déclencher le clic sur le bouton
                bouton.click();
            } else {
                console.error('Le bouton n\'a pas été trouvé.');
            }
            scrollToTop()
        }

        //fonction pour:
        // parcourir les Departement de la societe par l idSociete de l'equipe edité
        // selectionné les departements des membre et de responsable de l'equipe edité
        // et afficher les utilisateurs de lequipe edité;
        function updateDepartementOptions(idSociete) {
            // Utilisez AJAX pour obtenir la liste des départements de la société sélectionnée depuis le serveur
            $.ajax({
                type: "GET",
                url: "get-departements-by-societe/" + idSociete, //  endpoint
                success: function(data1) {
                    var departementSelect = $("#DepartementSelect");
                    departementSelect.empty(); // Efface toutes les options actuelles

                    //un vriable de type array pour stocker les variable selectionné
                    DepartementsSelected=[];

                    // Ajoutez les nouvelles options basées sur les données reçues
                    //parcourir tous les departements de la societe
                    for (var i = 0; i < data1.length; i++) {
                        addDepartementOption(departementSelect, data1[i].nomdepartement, data1[i].iddepartement);

                        if (DepartementId!=null)
                        {
                            // Sélectionner le département du responsable si applicable
                            selectDepartementOption(DepartementId, data1[i].iddepartement, DepartementsSelected);
                        }
                        //selectionner les departements des membres
                        selectDepartementOptionsForMembers(data1[i].iddepartement, MembresEquipe, DepartementsSelected);
                    }
                    // Appeler la fonction pour afficher les utilisateurs des départements sélectionnés
                    displayUsersForSelectedDepartements(DepartementsSelected);

                    //pour afficher les utilisateurs des départements sélectionnés lorsque je navige entre les departement
                    departementSelect = document.getElementById('DepartementSelect');
                    departementSelect.addEventListener('change', () => {
                        //selectedDepartements: un tableau des valeur sélectionnées
                        const selectedDepartements = Array.from(departementSelect.selectedOptions).map(option => option.value);

                        if (submitTexteContent=="Mettre à jour") {
                            // Fonction pour afficher les utilisateurs des départements sélectionnés lorsque je navige entre les departement
                            displayUsersWhenTheDepartementSelectedSavingTheMembersChecked(selectedDepartements)
                        }
                    });
                }
            });
        }

        // Fonction pour ajouter une option de département
        function addDepartementOption(selectElement, nomDepartement, idDepartement) {
            selectElement.append(new Option(nomDepartement, idDepartement));
        }

        // Fonction pour sélectionner une option de département
        function selectDepartementOption(selectedId, optionId, selectedDepartements) {
            if (selectedId == optionId) {
                const select3 = document.querySelector("select[id='DepartementSelect']");
                var departementOption = select3.querySelector(`option[value="${optionId}"]`);
                departementOption.setAttribute("selected", "selected");
                selectedDepartements.push(optionId);
            }
        }

        // Fonction pour sélectionner les options de département pour les membres d'équipe
        function selectDepartementOptionsForMembers(optionId, membresEquipe, selectedDepartements) {
            for (var j = 0; j < membresEquipe.length; j++) {
                if (membresEquipe[j].departement != null && membresEquipe[j].departement.iddepartement == optionId) {
                    const select3 = document.querySelector("select[id='DepartementSelect']");
                    var departementOption = select3.querySelector(`option[value="${membresEquipe[j].departement.iddepartement}"]`);
                    departementOption.setAttribute("selected", "selected");
                    selectedDepartements.push(membresEquipe[j].departement.iddepartement);
                }
            }
        }


        // Fonction pour afficher les utilisateurs des départements sélectionnés de l equipe edité
        function displayUsersForSelectedDepartements(selectedDepartements) {
            fetch(`utilisateurs?departements=${DepartementsSelected.join(',')}`)
                .then(response => response.json())
                .then(data => {

                    // Effacer le contenu actuel du select des utilisateurs
                    utilisateurSelect.innerHTML = '';
                    // Effacer le contenu actuel des cases à cocher des utilisateurs
                    userCheckboxes.innerHTML = '';

                    var isResbonsable;
                    //ajouter une option qui permet de creer une equipe sans responsable (idresponsable=null)
                    utilisateurSelect.append(new Option("Sans responsable",-1));
                    //parcourir les utilisateur des departements selectionné
                    data.forEach(user => {
                        //afficher les utilisateur des departements selectionné
                        const option = document.createElement('option');
                        if (responsableVar != null) {
                            if (user.idutilisateur == responsableVar.idutilisateur) {
                                option.selected = true;
                            }
                        }

                        const isResbonsable = AllRespoIds.some(x => x == user.idutilisateur);
                        if (isResbonsable && responsableVar!=null && user.idutilisateur != responsableVar.idutilisateur) {
                            return; // Si l'utilisateur est responsable, passez à l'itération suivante
                        }

                        if (isResbonsable && responsableVar==null ) {
                            return; // Si l'utilisateur est responsable, passez à l'itération suivante
                        }


                        option.value = user.idutilisateur;
                        option.text = user.nom;
                        utilisateurSelect.appendChild(option);

                    });
                    data.forEach(user => {
                        //verifier si l utilisateur est membre de cette equipe ou non
                        const isMember = MembresEquipe.some(membre => membre.idutilisateur === user.idutilisateur);


                        if (user.idutilisateur==selectedUser) {
                            return; // Si l'utilisateur est responsable, passez à l'itération suivante
                        }

                        //selectionner le checkbox si l utilisateur est un membre cette equipe
                        const userCheckbox = document.createElement('div');
                        userCheckbox.innerHTML = `
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="utilisateurCheckbox${user.idutilisateur}" value="${user.idutilisateur}" name="idutilisateur" ${isMember ? 'checked="checked"' : ''} />
                        <label class="form-check-label" for="utilisateurCheckbox${user.idutilisateur}">${user.nom} ${user.prenom}</label>
                    </div>`;

                        userCheckboxes.appendChild(userCheckbox);
                    });

                });
        }

        // Fonction pour afficher les utilisateurs des départements sélectionnés lorsque je navige entre les departement
        function displayUsersWhenTheDepartementSelectedSavingTheMembersChecked(selectedDepartements) {
            fetch(`utilisateurs?departements=${selectedDepartements.join(',')}`)
                .then(response => response.json())
                .then(data => {
                    // Effacer le contenu actuel du select des utilisateurs
                    utilisateurSelect.innerHTML = '';
                    // Effacer le contenu actuel des cases à cocher des utilisateurs
                    userCheckboxes.innerHTML = '';

                    // Ajoutez les nouvelles options basées sur les données reçuesb (pour select)
                    utilisateurSelect.append(new Option("Sans responsable",-1));

                    // Ajouter les utilisateurs récupérés au select des utilisateurs
                    data.forEach(user => {
                        const option = document.createElement('option');
                        if (responsableVar != null) {
                            if (user.idutilisateur == responsableVar.idutilisateur) {
                                option.selected = true;
                            }
                        }

                        const isResbonsable = AllRespoIds.some(x => x == user.idutilisateur);
                        if (isResbonsable && responsableVar!=null && user.idutilisateur != responsableVar.idutilisateur) {
                            return; // Si l'utilisateur est responsable, passez à l'itération suivante
                        }

                        if (isResbonsable && responsableVar==null ) {
                            return; // Si l'utilisateur est responsable, passez à l'itération suivante
                        }
                        option.value = user.idutilisateur; // Remplacez cela par la propriété appropriée de l'utilisateur
                        option.text = user.nom; // Remplacez cela par la propriété appropriée de l'utilisateur
                        utilisateurSelect.appendChild(option);
                    });
                    data.forEach(user => {
                        //verifier si l utilisateur est membre de cette equipe ou non
                        const isMember = MembresEquipe.some(membre => membre.idutilisateur === user.idutilisateur);



                        // console.log("user.idutilisateur"+user.idutilisateur);
                        //console.log("selectedUser");
                        //console.log(selectedUser);
                        if (user.idutilisateur==selectedUser) {
                            return; // Si l'utilisateur est responsable, passez à l'itération suivante
                        }
                        //selectionner le checkbox si l utilisateur est un membre cette equipe
                        const userCheckbox = document.createElement('div');
                        userCheckbox.innerHTML = `
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" id="utilisateurCheckbox${user.idutilisateur}" value="${user.idutilisateur}" name="idutilisateur" ${isMember ? 'checked="checked"' : ''} />
                                                            <label class="form-check-label" for="utilisateurCheckbox${user.idutilisateur}">${user.nom} ${user.prenom}</label>
                                                        </div>`;

                        userCheckboxes.appendChild(userCheckbox);
                        //console.log(typeof (user.idutilisateur));
                    });
                })

                .catch(error => console.error('Erreur lors de la récupération des utilisateurs :', error));
        }

        //fonction permet de défiler la page vers le haut lorsque l'utilisateur clique sur un bouton
        function scrollToTop(){
            window.scrollTo({
                top: 0, // La position en pixels en haut de la page
                behavior: "smooth" // Option pour un défilement fluide
            });
        }

        //-----fonction pour la button cancel
        function CancelButton()
        {
            const form = document.getElementById("formCreateEquipe");
            document.getElementById("idequipe").value = null;
            document.getElementById("utilisateurSelect").innerHTML = "";
            document.getElementById("DepartementSelect").innerHTML = "";
            $(".form-check").remove();
            form.querySelector("button[type='submit']").textContent = "Créer";
        }



        function annuler()
        {
            window.location.reload();

            // Récupérer l'élément du formulaire par son ID
            var formulaire = document.getElementById('formCreateEquipe');

            // Vérifier si le formulaire a été trouvé
            if (formulaire) {
                // Réinitialiser le formulaire
                formulaire.reset();

                if (formulaire.querySelector("button[type='submit']").textContent === "Mettre à jour") {
                    formulaire.querySelector("button[type='submit']").textContent = "Créer";


                    const idTacheInput = formulaire.querySelector(`input[name='idequipe']`);
                    idTacheInput.value = null;
                    idTacheInput.textContent = "";

                    document.getElementById("utilisateurSelect").innerHTML = "";
                    document.getElementById("DepartementSelect").innerHTML = "";
                    document.getElementById("userCheckboxes").innerHTML = "";
                    MembresEquipe = [];


                }
            } else {
                console.error('Le formulaire n\'a pas été trouvé.');
            }
        }


        // Sélectionnez tous les éléments avec la classe "show-message"
        var messageElements = document.querySelectorAll('.show-message');

        // Parcourir chaque élément et ajouter la classe "show" (pour l'animation)
        messageElements.forEach(function(element) {
            element.classList.add('show');

            // Supprimer la classe "show" après 5 secondes
            setTimeout(function() {
                element.classList.remove('show');
            }, 5000);
        });
        // Sélectionnez l'élément avec l'id "messages"
        var messagesDiv = document.getElementById("messages");

        // Supprimez la div après 5 secondes (5000 millisecondes)
        setTimeout(function() {
            if (messagesDiv) {
                messagesDiv.remove();
            }
        }, 5500);

        //--------------------pour le formulaire Creer une tâche
        //Pour afficher les taches parentes dans
        // la selelecte dans le formulaire qui permet de creer une tache et actualiser la liste lorsqu'une indexation
        tacheParentes();
        function tacheParentes() {
            $.ajax({
                url: `tachesParentes/`,
                method: 'GET',
                success: function (taches) {

                    var tachesParentSelect = $("#tacheparente");
                    tachesParentSelect.empty(); // Efface toutes les options actuelles
                    tachesParentSelect.append (new Option("Selectionner la tâche parente",-1));
                    for (var i = 0; i < taches.length; i++) {
                        var option = new Option(taches[i].nomtache, taches[i].idtache);
                        tachesParentSelect.append(option);
                    }
                }
            });
        }

      

        //pour regler la douverture
        dateOuvertureactuelle();
        function dateOuvertureactuelle(){
            //pour la date douverture
            // Obtenez la date actuelle au format YYYY-MM-DD
            var currentDate = new Date().toISOString().split('T')[0];

            // Mettez à jour l'attribut 'min' du champ de saisie de date avec la date actuelle
            document.getElementById('DateOuverture').min = currentDate;

            // Mettez à jour l'attribut 'value' du champ de saisie de date avec la date actuelle
            document.getElementById('DateOuverture').value = currentDate;
        }


    </script>


</section>

</body>
</html>
