<!DOCTYPE html>

<html
        lang="en"
        class="light-style layout-menu-fixed"
        dir="ltr"
        data-theme="theme-default"
        data-assets-path="../assets/"
        data-template="vertical-menu-template-free"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout.html}"
>
<head>
    <meta charset="utf-8" />
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />

    <title>Do-it4me</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="img/LDFLOGO.png" />


    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="css/boxicons.css" />
    <link rel="stylesheet" href="css/boxicons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="css/perfect-scrollbar.css" />

    <link rel="stylesheet" href="css/apex-charts.css" />

    <!-- Page CSS -->
    <link rel="stylesheet" href="css/myCss.css" />

    <!-- Helpers -->
    <script src="js/helpers.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="js/config.js"></script>
</head>

<body>

<section layout:fragment="content">
    <!-- content div-->
    <div class="container-fluid h-auto">
        <div class="content-wrapper">

            <!-- Content -->
            <div class="container-xxl flex-grow-1 container-p-y">
                <!-- Modal -->
                <div class="modal fade" id="modalCenter" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button
                                        type="button"
                                        class="btn-close"
                                        data-bs-dismiss="modal"
                                        aria-label="Close"
                                ></button>
                            </div>
                            <div class="modal-body">
                                <form id="formAccountSettingss" th:action="@{ChangPassWord}"   method="post" >
                                    <input type="hidden" class="form-control" name="idutilisateur">
                                    <div class="row">
                                        <div class="mb-3 col-md-12">
                                            <label for="motdepasse" class="form-label">Nouveau mot de passe</label>
                                            <input
                                                    type="password"
                                                    class="form-control"
                                                    id="motdepasse"
                                                    name="motdepasse"
                                                    autofocus
                                                    required="required"
                                                    onkeyup="confirmeMotDePasse()"
                                            />
                                        </div>
                                        <div class="mb-3 col-md-12">
                                            <label for="confirmationmotdepasse" class="form-label">Confirmer le nouveau mot de passe</label>
                                            <input
                                                    type="password"
                                                    class="form-control"
                                                    id="confirmationmotdepasse"
                                                    required="required"
                                                    onkeyup="confirmeMotDePasse()"
                                            />
                                            <small class="alert-danger" id="messageconfirme"></small>
                                        </div>
                                        <div class="mb-3 col-md-12">
                                            <label>Afficher/Masquer le mot de passe</label>
                                            <i class='bx bx-low-vision' id="togglePassword" onclick="togglePasswordVisibility()"></i>
                                        </div>


                                    </div>

                                    <div class="mt-2">
                                        <button type="submit" id="submitChangPassWord" class="btn btn-primary me-2">Modifier le mot de passe</button>
                                        <button
                                                onclick="annulerMotDePasse()"
                                                class="btn btn-outline-secondary"
                                                data-bs-dismiss="modal"
                                        >Annuler</button>
                                        <!--<button type="button" class="btn btn-outline-secondary" >
                                          Close
                                        </button>-->
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="card mb-4">
                            <h5 class="card-header">Profile Détails</h5>
                            <!-- Account -->
                            <div class="card-body">

                                <div th:if="${not #strings.isEmpty(msg) or not #strings.isEmpty(msg2) or not #strings.isEmpty(msgError)}" id="messages" class="mb-3 col-md-12">

                                    <div th:if="${not #strings.isEmpty(msg)}" class="form-group">
                                        <div class="alert alert-success" th:text="${msg}"></div>
                                    </div>
                                    <div th:if="${not #strings.isEmpty(msgError)}" class="form-group">
                                        <div class="alert alert-danger" th:text="${msgError}"></div>
                                    </div>
                                    <div th:if="${not #strings.isEmpty(msg2)}" class="form-group">
                                        <div class="alert alert-success" th:text="${msg2}"></div>
                                    </div>
                                </div>
                                <div class="d-flex align-items-start align-items-sm-center gap-4">
                                    <img
                                            src="img/1.png"
                                            alt="user-avatar"
                                            class="d-block rounded"
                                            height="100"
                                            width="100"
                                            id="uploadedAvatar"
                                    />
                                    <div class="button-wrapper">
                                        <!-- <label for="upload" class="btn btn-primary me-2 mb-4" tabindex="0">
                                             <span class="d-none d-sm-block">Upload new photo</span>
                                             <i class="bx bx-upload d-block d-sm-none"></i>
                                             <input
                                                     type="file"
                                                     id="upload"
                                                     class="account-file-input"
                                                     hidden
                                                     accept="image/png, image/jpeg"
                                             />
                                         </label>-->
                                        <button type="button"
                                                class="btn btn-primary me-2 mb-4 "
                                                data-bs-toggle="modal"
                                                data-bs-target="#modalCenter">
                                            <i class="bx bx-reset d-block d-sm-none"></i>
                                            <span class="d-none d-sm-block">Changer le mot de passe.</span>
                                        </button>

                                        <p class="text-muted mb-0">Vous pouvez changer votre mot de passe</p>
                                    </div>
                                </div>
                            </div>
                            <hr class="my-0" />
                            <div class="card-body">
                                <form id="formAccountSettings" method="POST" onsubmit="return false">
                                    <div class="row">
                                        <div class="mb-3 col-md-6">
                                            <label for="firstName" class="form-label">Nom</label>
                                            <input
                                                    class="form-control"
                                                    type="text"
                                                    id="firstName"
                                                    name="firstName"
                                                    th:value="${utilisateur!=null ? utilisateur.nom:'(sans nom)'}" disabled
                                            />
                                        </div>
                                        <div class="mb-3 col-md-6">
                                            <label for="lastName" class="form-label">Prénom</label>
                                            <input disabled class="form-control" type="text" name="lastName" id="lastName" th:value="${utilisateur!=null
                                                ?utilisateur.prenom:'(sans prenom)'}"/>
                                        </div>
                                        <div class="mb-3 col-md-6">
                                            <label for="email" class="form-label">E-mail</label>
                                            <input
                                                    class="form-control"
                                                    type="text"
                                                    id="email"
                                                    name="email"
                                                    th:value="${utilisateur!=null ?utilisateur.mail:'(sans mail)'}"    disabled   />
                                        </div>



                                        <div class="mb-3 col-md-6">
                                            <label for="organization" class="form-label">Société</label>
                                            <input disabled
                                                   type="text"
                                                   class="form-control"
                                                   id="organization"
                                                   name="organization"
                                                   th:value="${utilisateur!=null && utilisateur.societe!=null ?utilisateur.societe.nomsociete:'(sans societe)'}"
                                            />
                                        </div>
                                        <div class="mb-3 col-md-6">
                                            <label class="form-label" for="Département">Département</label>
                                            <input
                                                    type="text"
                                                    class="form-control"
                                                    id="Département"
                                                    name="organization"
                                                    th:value="${utilisateur!=null && utilisateur.departement!=null
                                                        ?utilisateur.departement.nomdepartement:'(sans departement'}" disabled
                                            />
                                        </div>

                                        <div class="mb-3 col-md-6">
                                            <label class="form-label" for="Département">Service</label>
                                            <input disabled
                                                   type="text"
                                                   class="form-control"
                                                   id="Domaine"
                                                   name="organization"
                                                   th:value="${utilisateur!=null &&utilisateur.domaine!=null
                                                        ?utilisateur.domaine.nomdomaine:'(sans domiane)'}"
                                            />
                                        </div>
                                </form>
                            </div>
                            <!-- /Account -->
                        </div>

                    </div>
                </div>
            </div>
            <!-- /content-->
        </div>
    </div>
    </div>

        <!--/ content div-->


        <script src="js/jquery.js"></script>
        <script src="js/popper.js"></script>
        <script src="js/bootstrap.js"></script>
        <script src="js/perfect-scrollbar.js"></script>

        <script src="js/menu.js"></script>
        <!-- endbuild -->

        <!-- Vendors JS -->
        <script src="js/apexcharts.js"></script>

        <!-- Main JS -->
        <script src="js/main.js"></script>

        <!-- Page JS -->
        <script src="js/dashboards-analytics.js"></script>
        <script src="js/pages-account-settings-account.js"></script>

        <script src="js/myJs.js"></script>
        <!-- liens pour les websoket + Stom +Jquery. -->
        <script src="js/jquery.min.js"></script>
        <script src="js/sockjs.min.js"></script>
        <script src="js/stomp.min.js" ></script>
        <!-- le script des websoket notification. -->
        <script src="js/notifWebSocket.js"></script>
        <!-- Data table -->
        <script src="js/datatables.min.js"></script>
        <script>
            // Sélectionnez tous les éléments avec la classe "show-message"
            var messageElements = document.querySelectorAll('.show-message');

            // Parcourir chaque élément et ajouter la classe "show" (pour l'animation)
            messageElements.forEach(function(element) {
                element.classList.add('show');

                // Supprimer la classe "show" après 5 secondes
                setTimeout(function() {
                    element.classList.remove('show');
                }, 5000);
            });
            // Sélectionnez l'élément avec l'id "messages"
            var messagesDiv = document.getElementById("messages");

            // Supprimez la div après 5 secondes (5000 millisecondes)
            setTimeout(function() {
                if (messagesDiv) {
                    messagesDiv.remove();
                }
            }, 5500);


            //confirmation du mot de passe
            function confirmeMotDePasse(){
                var motdepasse=document.getElementById("motdepasse").value;
                var confmotdepasse=document.getElementById("confirmationmotdepasse").value;
                var message=document.getElementById("messageconfirme");
                var submit=document.getElementById("submitChangPassWord");
                //console.log(motdepasse);
                //console.log(confmotdepasse);

                // Votre logique de vérification des mots de passe ici
                if (motdepasse === confmotdepasse) {
                    // console.log("Les mots de passe correspondent.");
                    message.innerText=""
                    // Pour réactiver le bouton
                    submit.disabled = false;
                } else {
                    //  console.log("Les mots de passe ne correspondent pas.");
                    message.innerText="Les mots de passe ne correspondent pas."
                    // Pour désactiver le bouton
                    submit.disabled = true;

                }

            }

            function togglePasswordVisibility() {
                var motdepasse = document.getElementById("motdepasse");
                var confirmationmotdepasse = document.getElementById("confirmationmotdepasse");

                // Inversez le type de champ de saisie entre "password" et "text"
                motdepasse.type = motdepasse.type === "password" ? "text" : "password";
                confirmationmotdepasse.type = confirmationmotdepasse.type === "password" ? "text" : "password";
            }



            //--------------------pour le formulaire Creer une tâche
            //Pour afficher les taches parentes dans
            // la selelecte dans le formulaire qui permet de creer une tache et actualiser la liste lorsqu'une indexation
            tacheParentes();
            function tacheParentes() {
                $.ajax({
                    url: `tachesParentes/`,
                    method: 'GET',
                    success: function (taches) {

                        var tachesParentSelect = $("#tacheparente");
                        tachesParentSelect.empty(); // Efface toutes les options actuelles
                        tachesParentSelect.append (new Option("Selectionner la tâche parente",-1));
                        for (var i = 0; i < taches.length; i++) {
                            var option = new Option(taches[i].nomtache, taches[i].idtache);
                            tachesParentSelect.append(option);
                        }
                    }
                });
            }

            function annuler2() {
                // Récupérer l'élément du formulaire par son ID
                var formulaire = document.getElementById('formAccountSettings2');
                var   btnSubmit= document.getElementById('submit2');

                var inputEDateOuverture = document.getElementById("DateOuverture");

                // Vérifier si le formulaire a été trouvé
                if (formulaire) {
                    // Réinitialiser le formulaire
                    formulaire.reset();

                    if ( btnSubmit.textContent === "Mettre à jour") {btnSubmit.textContent = "Envoyer";}

                    // Pre-select the Proprietaire in the dropdown
                    const select1 = formulaire.querySelector("select[name='proprietaire']");
                    select1.removeAttribute("readonly");
                    select1.onmousedown = null;
                    select1.style.cursor = "default";

                    // Pre-select the Recepteur in the dropdown
                    const select = formulaire.querySelector("select[name='recepteur']");
                    select.removeAttribute("readonly");
                    select.onmousedown = null;
                    select.style.cursor = "default";

                    //remove Disable editing and selection for nomtache
                    const inputField = formulaire.querySelector(`input[name='nomtache']`);
                    inputField.removeAttribute("readonly");
                    inputField.onmousedown = null; // Supprimer l'événement onmousedown
                    inputField.style.cursor = "text"; // Changer le style du curseur en mode édition

                    const idTacheInput = formulaire.querySelector(`input[name='idtache']`);
                    idTacheInput.value=null;
                    idTacheInput.textContent="";


                    // Disable editing and selection for tacheparente
                    const selec = formulaire.querySelector("select[name='tacheparente']");
                    selec.removeAttribute("readonly");
                    selec.onmousedown = null;
                    selec.style.cursor = "default";

                    //Date d ouverture
                    const inputEDateOuverture = formulaire.querySelector(`input[name='dateouverture']`);
                    inputEDateOuverture.removeAttribute("readonly");
                    inputEDateOuverture.onmousedown = null;
                    inputEDateOuverture.style.cursor = "default";
                    inputEDateOuverture.disabled=false;
                    inputEDateOuverture.onmousedown = null; // Supprimer l'événement onmousedown
                    //inputEDateOuverture.style.cursor = "text"; // Changer le style du curseur en mode édition
                    dateOuvertureactuelle();
                } else {
                    console.error('Le formulaire n\'a pas été trouvé.');
                }
            }


            function annulerMotDePasse() {
                var formulaire = document.getElementById('formAccountSettingss');
                var message=document.getElementById("messageconfirme");
                var submit=document.getElementById("submitChangPassWord");
                // Vérifier si le formulaire a été trouvé
                if (formulaire) {
                    // Réinitialiser le formulaire
                    formulaire.reset();
                    // console.log("Les mots de passe correspondent.");
                    message.innerText=""
                    // Pour réactiver le bouton
                    submit.disabled = false;
                }
            }

            //pour regler la douverture
            dateOuvertureactuelle();
            function dateOuvertureactuelle(){
                //pour la date douverture
                // Obtenez la date actuelle au format YYYY-MM-DD
                var currentDate = new Date().toISOString().split('T')[0];

                // Mettez à jour l'attribut 'min' du champ de saisie de date avec la date actuelle
                document.getElementById('DateOuverture').min = currentDate;

                // Mettez à jour l'attribut 'value' du champ de saisie de date avec la date actuelle
                document.getElementById('DateOuverture').value = currentDate;
            }


        </script>
</section>
</body>
</html>
