<!DOCTYPE html>
<html
        lang="en"
        class="light-style layout-menu-fixed"
        dir="ltr"
        data-theme="theme-default"
        data-assets-path="../assets/"
        data-template="vertical-menu-template-free"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"

>
<head>
    <meta charset="utf-8" />
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />

    <title>TaskMaster</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="img/favicon.ico" />

    <!-- Data table ikns-->
    <link href="css/datatables.min.css" rel="stylesheet">



    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="css/boxicons.css" />
    <link rel="stylesheet" href="css/boxicons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="css/perfect-scrollbar.css" />

    <link rel="stylesheet" href="css/apex-charts.css" />

    <!-- Page CSS -->

    <link rel="stylesheet" href="css/myCss.css" />
    <!-- Helpers -->
    <script src="js/helpers.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="js/config.js"></script>
</head>

<body>
<!--/spinner div-->
<div class="spinner-wrapper">
    <div id="loading-spinner" class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
<!--/spinner div-->

<!--nav-->
<div class="container-fluid h-px-75   px-0" >
    <nav class="navbar navbar-expand-lg bg-dark fixed-top">
        <div class="container-fluid">
            <a href="javascript:void(0);" class="app-brand-link gap-2">
              <span class="app-brand-logo demo">
                <svg
                        width="25"
                        viewBox="0 0 25 42"
                        version="1.1"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink">
                  <defs>
                    <path
                            d="M13.7918663,0.358365126 L3.39788168,7.44174259 C0.566865006,9.69408886 -0.379795268,12.4788597 0.557900856,15.7960551 C0.68998853,16.2305145 1.09562888,17.7872135 3.12357076,19.2293357 C3.8146334,19.7207684 5.32369333,20.3834223 7.65075054,21.2172976 L7.59773219,21.2525164 L2.63468769,24.5493413 C0.445452254,26.3002124 0.0884951797,28.5083815 1.56381646,31.1738486 C2.83770406,32.8170431 5.20850219,33.2640127 7.09180128,32.5391577 C8.347334,32.0559211 11.4559176,30.0011079 16.4175519,26.3747182 C18.0338572,24.4997857 18.6973423,22.4544883 18.4080071,20.2388261 C17.963753,17.5346866 16.1776345,15.5799961 13.0496516,14.3747546 L10.9194936,13.4715819 L18.6192054,7.984237 L13.7918663,0.358365126 Z"
                            id="path-1"
                    ></path>
                    <path
                            d="M5.47320593,6.00457225 C4.05321814,8.216144 4.36334763,10.0722806 6.40359441,11.5729822 C8.61520715,12.571656 10.0999176,13.2171421 10.8577257,13.5094407 L15.5088241,14.433041 L18.6192054,7.984237 C15.5364148,3.11535317 13.9273018,0.573395879 13.7918663,0.358365126 C13.5790555,0.511491653 10.8061687,2.3935607 5.47320593,6.00457225 Z"
                            id="path-3"
                    ></path>
                    <path
                            d="M7.50063644,21.2294429 L12.3234468,23.3159332 C14.1688022,24.7579751 14.397098,26.4880487 13.008334,28.506154 C11.6195701,30.5242593 10.3099883,31.790241 9.07958868,32.3040991 C5.78142938,33.4346997 4.13234973,34 4.13234973,34 C4.13234973,34 2.75489982,33.0538207 2.37032616e-14,31.1614621 C-0.55822714,27.8186216 -0.55822714,26.0572515 -4.05231404e-15,25.8773518 C0.83734071,25.6075023 2.77988457,22.8248993 3.3049379,22.52991 C3.65497346,22.3332504 5.05353963,21.8997614 7.50063644,21.2294429 Z"
                            id="path-4"
                    ></path>
                    <path
                            d="M20.6,7.13333333 L25.6,13.8 C26.2627417,14.6836556 26.0836556,15.9372583 25.2,16.6 C24.8538077,16.8596443 24.4327404,17 24,17 L14,17 C12.8954305,17 12,16.1045695 12,15 C12,14.5672596 12.1403557,14.1461923 12.4,13.8 L17.4,7.13333333 C18.0627417,6.24967773 19.3163444,6.07059163 20.2,6.73333333 C20.3516113,6.84704183 20.4862915,6.981722 20.6,7.13333333 Z"
                            id="path-5"
                    ></path>
                  </defs>
                  <g id="g-app-brand" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Brand-Logo" transform="translate(-27.000000, -15.000000)">
                      <g id="Icon" transform="translate(27.000000, 15.000000)">
                        <g id="Mask" transform="translate(0.000000, 8.000000)">
                          <mask id="mask-2" fill="white">
                            <use xlink:href="#path-1"></use>
                          </mask>
                          <use fill="#696cff" xlink:href="#path-1"></use>
                          <g id="Path-3" mask="url(#mask-2)">
                            <use fill="#696cff" xlink:href="#path-3"></use>
                            <use fill-opacity="0.2" fill="#FFFFFF" xlink:href="#path-3"></use>
                          </g>
                          <g id="Path-4" mask="url(#mask-2)">
                            <use fill="#696cff" xlink:href="#path-4"></use>
                            <use fill-opacity="0.2" fill="#FFFFFF" xlink:href="#path-4"></use>
                          </g>
                        </g>
                        <g
                                id="Triangle"
                                transform="translate(19.000000, 11.000000) rotate(-300.000000) translate(-19.000000, -11.000000) "
                        >
                          <use fill="#696cff" xlink:href="#path-5"></use>
                          <use fill-opacity="0.2" fill="#FFFFFF" xlink:href="#path-5"></use>
                        </g>
                      </g>
                    </g>
                  </g>
                </svg>
              </span>
                <span class="app-brand-text demo menu-text fw-bolder ms-2">TaskMaster</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse  " id="navbarSupportedContent">
                <ul class="navbar-nav me-auto px-lg-5  mb-2 mb-lg-0"  >
                    <!--Mes Tâches-->
                    <li class="nav-item">
                        <a class=" btn  btn-dark" th:href="@{/}" style="display: flex; align-items: center;">
                            <i class="menu-icon tf-icons bx bx-task me-1" style="margin-right: 5px;"></i>
                            <div data-i18n="Analytics">Mes Tâches</div>
                        </a>
                    </li>
                    <!--Suivie Des Tâches-->
                    <li class="nav-item">
                        <a class="btn btn-dark " th:href="@{/CreerTache}" style="display: flex; align-items: center;">
                            <i class="menu-icon tf-icons bx bx-copy-alt me-1" style="margin-right: 5px;"></i>
                            <div data-i18n="Analytics">Suivie Des Tâches</div>
                        </a>
                    </li>
                    <!--Button Créer Une Tâche-->
                    <li class="nav-item">
                        <!-- Vertically Centered Modal -->
                        <!-- Button trigger modal -->
                        <button
                                type="button"
                                class="btn btn-dark"
                                data-bs-toggle="modal"
                                data-bs-target="#exLargeModal"
                                id="creertache"
                                onclick="annuler2()"
                        >
                            <i class="bx bx-add-to-queue me-1"></i> Créer Une Tâche
                        </button>
                    </li>
                    <!---->

                </ul>

                <div class="navbar-nav d-flex">
                    <ul class="navbar-nav d-flex align-items-center">


                        <!--Menu-->
                        <li class="nav-item navbar-dropdown dropdown-user dropdown">
                            <button type="button" class="btn btn-icon bg-dark  position-relative dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                <i class="bx bx-list-ul me-2" style="font-size: 25px;color: #FFFFFF"></i>
                                <span id="t" class="badge nav-pills badge-notification bg-danger" ></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-sm-end py-0 overflow-auto mb-4">
                                <li><a class="dropdown-item" th:href="@{/Memoir}" >
                                    <i class='bx bx-notepad'></i> Mémoire
                                </a>
                                </li>
                                <!--Mon Equipe-->
                                <li class="nav-item">
                                    <a class="dropdown-item " th:href="@{/MonEquipe}">
                                        <i class=" bx   bxs-user-account" ></i> Mon Équipe
                                    </a>
                                </li>
                                <div sec:authorize="hasAnyRole('ADMIN')">
                                    <li>
                                        <div class="dropdown-divider"></div>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" th:href="@{/gestUtilisateur}">
                                            <i class="bx bx-group me-1"></i> Comptes
                                        </a>
                                    </li>
                                    <li><a class="dropdown-item" th:href="@{/societe}">
                                        <i class="bx bx-buildings me-1"></i>Societes
                                    </a>
                                    </li>
                                    <li><a class="dropdown-item" th:href="@{/domaine}">
                                        <i class="bx bx-briefcase me-1"></i>Services
                                    </a>
                                    </li>
                                    <li><a class="dropdown-item" th:href="@{/departement}">
                                        <i class="bx bxs-institution me-1"></i>Departements
                                    </a>
                                    </li>
                                    <li><a class="dropdown-item" th:href="@{/gestionEquipe}">
                                        <i class="bx bxs-user-account me-1"></i> Équipes
                                    </a>
                                    </li>
                                    <li><a class="dropdown-item"  th:href="@{/GestionTacheAdmin}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-ui-checks" viewBox="0 0 16 16">
                                            <path d="M7 2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5zM2 1a2 2 0 0 0-2 2v2a2 2 0 0 0 2 2h2a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2zm0 8a2 2 0 0 0-2 2v2a2 2 0 0 0 2 2h2a2 2 0 0 0 2-2v-2a2 2 0 0 0-2-2zm.854-3.646a.5.5 0 0 1-.708 0l-1-1a.5.5 0 1 1 .708-.708l.646.647 1.646-1.647a.5.5 0 1 1 .708.708zm0 8a.5.5 0 0 1-.708 0l-1-1a.5.5 0 0 1 .708-.708l.646.647 1.646-1.647a.5.5 0 0 1 .708.708zM7 10.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5zm0-5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m0 8a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5"/>
                                        </svg>
                                        Tâches
                                    </a>
                                    </li>
                                </div>


                            </ul>
                        </li>
                        <!--Menu-->

                        <!--notif-->
                        <li class="nav-item navbar-dropdown dropdown-user dropdown">
                            <button onclick="readNotif()" type="button" class="btn btn-icon bg-dark position-relative dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                <i class="bx bxs-bell-ring me-2" style="font-size: 25px;color: #FFFFFF"></i>
                                <span id="spanNotifNum" class="badge nav-pills badge-notification bg-danger" th:value="${nbrNotifNonLu}" th:text="${nbrNotifNonLu}"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end py-0 overflow-auto mb-4" id="vertical-example" style="width: 400px; max-height: 500px;">
                                <li class="dropdown-menu-header border-bottom">
                                    <div class="dropdown-header d-flex align-items-center py-3">
                                        <h5 class="text-body mb-0 me-auto">notifications</h5>
                                        <a href="javascript:void(0);" class="dropdown-notifications-all text-body" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Mark All as read" data-bs-original-title="Mark All as read">
                                            <i class="bx bx-envelope-open"></i>
                                        </a>
                                    </div>
                                </li>
                                <div class="notification-list-wrapper"> <!-- Wrapper with fixed height for scroll -->
                                    <li class="dropdown-notifications-list scrollable-container ps" th:each="p, iterStat : ${notificationList}">
                                        <ul class="list-group list-group-flush">
                                            <li th:class="${p.estLu == true ? 'list-group-item list-group-item-action dropdown-notifications-item marked-as-read' : 'list-group-item list-group-item-action dropdown-notifications-item marked-as-read bg-primary text-white '}">
                                                <div class="d-flex">
                                                    <div class="flex-shrink-0 me-3">
                                                        <div class="avatar">
                                                            <img src="img/1.png" alt="" class="w-px-40 h-auto rounded-circle">
                                                        </div>
                                                    </div>
                                                    <div class="flex-grow-1">
                                                        <h6 th:class="${p.estLu == true ? 'mb-1' : ' mb-1 text-white '}" th:text="${p.emetteur.prenom+' '+p.emetteur.nom+' 🔔'}"> </h6>
                                                        <p class="mb-0" th:text="${p.detail}"></p>
                                                        <small th:class="${p.estLu == true ? 'text-muted' : ' text-white '}" th:utext="${#temporals.format(p.datenotif, 'dd-MM-yyyy HH:mm:ss')}"></small>
                                                    </div>
                                                    <div class="flex-shrink-0 dropdown-notifications-actions">
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                </div>
                            </ul>
                        </li>
                        <!--/notif-->

                        <!-- User -->
                        <li class="nav-item navbar-dropdown dropdown-user dropdown">
                            <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                                <div class="avatar avatar-online">
                                    <img src="img/1.png" alt class="w-px-40 h-auto rounded-circle" />
                                </div>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li>
                                    <a class="dropdown-item" th:href="@{/MonProfile}">
                                        <div class="d-flex">
                                            <div class="flex-shrink-0 me-3">
                                                <div class="avatar avatar-online">
                                                    <img src="img/1.png" alt class="w-px-40 h-auto rounded-circle" />
                                                </div>
                                            </div>
                                            <div class="flex-grow-1">
                                                <span class="fw-semibold d-block" sec:authentication="name"></span>
                                                <small class="text-muted" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">Administrateur</small>
                                                <small class="text-muted" th:unless="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">Utilisateur</small>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <div class="dropdown-divider"></div>
                                </li>
                                <li>
                                    <form class="dropdown-item" th:action="@{/logout}" method="post">
                                        <button class="btn btn-primary float-right w-100" type="submit"> <i class="bx bx-power-off me-2"></i>Déconnexion</button>
                                    </form>
                                </li>
                            </ul>
                        </li>
                        <!--/ User -->
                    </ul>
                </div>


            </div>
        </div>
    </nav>

</div>
<!--/nav-->


<div class="d-flex justify-content-between">
    <!--chemin-->
    <p class="fw-bold my-primary" style="margin-left: 20px;">
        <span class="text-muted fw-light my-primary">
         <i class="bx bx-cog" style="margin-right: 5px;"></i>
            Administration /</span>
        <i class="bx bx-buildings me-1"></i>Societes
    </p>
    <!--/chemin-->
    <ul class="nav nav-pills flex-column flex-md-row " style="margin-right: 20px;">
        <li>
            <!-- Vertically Centered Modal -->
            <!-- Button trigger modal -->
            <button
                    type="button"
                    class="btn btn-sm me-1 mb-1 btn-primary"
                    data-bs-toggle="modal"
                    data-bs-target="#modalCenter"
                    id="creersociete"

            >
                <i class="bx bx-add-to-queue me-1"></i> Créer une societe
            </button>
        </li>

    </ul>

</div>


<!-- content div-->
<div class="container-fluid h-auto">
    <div class="content-wrapper">

        <!-- Content -->
        <div class="container-xxl flex-grow-1 " STYLE="padding-top: 0px;margin-top: 2px;padding:0px;">

            <div class="row">
                <div class="col-md-12">
                    <!-- Modal -->
                    <div class="modal fade" id="modalCenter" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button
                                            type="button"
                                            class="btn-close"
                                            data-bs-dismiss="modal"
                                            aria-label="Close"
                                    ></button>
                                </div>
                                <div class="modal-body">
                                    <form id="formAccountSettings"  th:action="@{CreateSociete}"  class="form-group" method="post">
                                        <input type="hidden" class="form-control" name="idsociete">

                                        <div class="row mb-3">
                                            <label class="col-sm-2 col-form-label my-primary" for="basic-icon-default-fullname">Nom</label>
                                            <div class="col-sm-10">
                                                <div class="input-group input-group-merge">
                                                    <span id="basic-icon-default-fullname2" class="input-group-text"><i class="bx bx-buildings"></i></span>
                                                    <input type="text" class="form-control"
                                                           id="basic-icon-default-fullname"
                                                           placeholder="Gynebio"
                                                           name="nomsociete" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label class="col-sm-2 col-form-label my-primary" for="basic-icon-default-company">Adresse:</label>
                                            <div class="col-sm-10">
                                                <div class="input-group input-group-merge">
                                                    <span id="basic-icon-default-company2" class="input-group-text"><i class="bx bx-map"></i></span>
                                                    <input type="text"
                                                           id="basic-icon-default-company"
                                                           class="form-control"
                                                           placeholder="Casablanca AV..."
                                                           name="adressesociete">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label class="col-sm-2 col-form-label my-primary" for="basic-icon-default-email">Email:</label>
                                            <div class="col-sm-10">
                                                <div class="input-group input-group-merge">
                                                    <span class="input-group-text"><i class="bx bx-envelope"></i></span>
                                                    <input type="email"
                                                           id="basic-icon-default-email"
                                                           class="form-control"
                                                           placeholder="example@gmail.com"
                                                           name="mailsociete">
                                                    <span id="basic-icon-default-email2" class="input-group-text">example@gmail.com</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label class="col-sm-2 form-label" for="basic-icon-default-phone">Tél:</label>
                                            <div class="col-sm-10">
                                                <div class="input-group input-group-merge">
                                                    <span id="basic-icon-default-phone2" class="input-group-text"><i class="bx bx-phone"></i></span>
                                                    <input type="number"
                                                           id="basic-icon-default-phone"
                                                           class="form-control phone-mask"
                                                           placeholder="06 79 98 94 11"
                                                           name="telephone"
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row justify-content-end">
                                            <div class="col-sm-10">
                                                <button type="submit" class="btn btn-primary">Créér</button>
                                            <button type="reset"
                                                    class="btn btn-outline-secondary"
                                                    onclick="annuler()"
                                                    data-bs-dismiss="modal"
                                            >Annuler</button>
                                            <!--<button type="button" class="btn btn-outline-secondary" >
                                              Close
                                            </button>-->
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>


            <!-- Basic Bootstrap Table -->
            <div class="card">
                <div class="card-body">
                    <div th:if="${not #strings.isEmpty(msg) or not #strings.isEmpty(msgError)  or not #strings.isEmpty(msg1) }" class="mb-3 col-md-12" id="messages">
                        <div th:if="${not #strings.isEmpty(msg)}" class="form-group">
                            <div class="alert alert-primary" th:text="${msg}"></div>
                        </div>
                        <div th:if="${not #strings.isEmpty(msg1)}" class="form-group ">
                            <div class="alert alert-primary" th:text="${msg1}"></div>
                        </div>
                        <div th:if="${not #strings.isEmpty(msgError)}" class="form-group ">
                            <div class="alert alert-danger" th:text="${msgError}"></div>
                        </div>
                    </div>
                    <div class="table-responsive text-nowrap">

                        <!-- Extra Large Modal pour Creer une Tache -->
                        <div class="modal fade" id="exLargeModal" tabindex="-1" aria-hidden="true" style="padding-top: 170px">
                            <div class="modal-dialog modal-xl" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button
                                                type="button"
                                                class="btn-close"
                                                data-bs-dismiss="modal"
                                                aria-label="Close"
                                        ></button>
                                    </div>
                                    <div class="modal-body">
                                        <form id="formAccountSettings2" method="POST" th:action="@{CreateTache}">
                                            <input type="hidden" class="form-control" name="idtache">
                                            <input type="hidden" th:value="${utilisateurC.idutilisateur}" class="form-control"
                                                   name="Utilisateur">
                                            <input type="hidden" name="ismemoire" id="ismemoire" value="false" required/>

                                            <div class="d-flex align-content-between justify-content-between flex-wrap  pr-0 pl-0">
                                                <!-- Première div pour le destinataire -->
                                                <div class="d-flex justify-content-evenly align-content-center">
                                                    <label for="idrecepteur" class="form-label align-content-center  "
                                                           STYLE="margin-right: 15px;">Destinataire</label>
                                                    <select id="idrecepteur" name="recepteur" class="select2 form-select w-px-250" required>
                                                        <option th:each="p:${Recepteurs}" th:value="${p.idutilisateur}"
                                                                th:text="${p.prenom + ' ' + p.nom}"></option>
                                                    </select>
                                                </div>


                                                <!-- Deuxième div pour la tâche à réaliser -->
                                                <div class="d-flex justify-content-evenly">
                                                    <label for="nomtache" class="form-label align-content-center"
                                                           STYLE="margin-right: 15px;">Tâche à réaliser</label>
                                                    <input type="text" class="form-control w-px-250" name="nomtache" id="nomtache" required>
                                                </div>

                                                <!-- Troisième div pour la durée estimée -->
                                                <div class="d-flex justify-content-evenly">
                                                    <label class="form-label align-content-center" for="dureeEstimee"
                                                           STYLE="margin-right: 15px;">EN</label>
                                                    <div class="d-flex">
                                                        <input type="number" placeholder="Durée Estimée " id="dureeEstimee" required min="1"
                                                               name="dureestime" class="form-control"/>
                                                        <label class="form-label align-content-center" for="dureeEstimee"
                                                               STYLE="margin-left: 10px;">Jour(s)</label>
                                                    </div>
                                                </div>
                                            </div>

                                            <br>
                                            <div class="row g-3">

                                                <div class="col mb-0">
                                                    <label for="Priorite" class="form-label">Priorité</label>
                                                    <select id="Priorite" class="select2 form-select" name="priorite" required>
                                                        <option th:each="p:${priorites}" th:value="${p.idpriorite}"
                                                                th:text="${p.nompriorite}"></option>
                                                    </select>
                                                </div>

                                                <div class="col mb-0">
                                                    <label for="DateOuverture" class="form-label">Date Ouverture</label>
                                                    <input class="form-control" type="date" name="dateouverture" min="" id="DateOuverture"
                                                           required>
                                                </div>

                                                <div class="col mb-0">
                                                    <label for="Proprietaires" class="form-label">Propriétaire</label>
                                                    <select id="Proprietaires" name="proprietaire" class="select2 form-select"
                                                            required="required" th:with="selectedValue=${utilisateurC.idutilisateur}">
                                                        <option th:each="p:${utilisateurList2}" th:value="${p.idutilisateur}"
                                                                th:selected="${selectedValue == p.idutilisateur}"
                                                                th:text="${p.prenom + ' ' + p.nom}"></option>
                                                    </select>
                                                </div>
                                                <div class="col mb-0">
                                                    <label for="tacheparente" class="form-label">Tâche parente</label>
                                                    <select id="tacheparente" class="select2 form-select" name="tacheparente">
                                                        <!-- <option  value="">Selectionner la tâche parente</option>
                                                         <option th:each="TacheParents:${lesTacheParents}" th:value="${TacheParents.idtache}" th:text="${TacheParents.nomtache}"></option>-->
                                                    </select>
                                                </div>

                                                <div class="col mb-0">
                                                    <label for="type" class="form-label">Type</label>
                                                    <select class="select2 form-select" required="required"  id="type" name="type">
                                                        <option value="Opérationnel">Opérationnel</option>
                                                        <option value="Projet">Projet</option>
                                                    </select>
                                                </div>

                                                <div class="col mb-0">
                                                    <label class="form-label" for="Aunetachesuccessive">Tâche indexée</label>
                                                    <select class="select2 form-select" required="required" id="Aunetachesuccessive" name="aunetachesuccessive">
                                                        <option value="false">Non</option>
                                                        <option value="true">Oui</option>
                                                    </select>
                                                </div>

                                                <div class="col mb-0" style="padding-top: 30px;">
                                                    <button type="submit" id="submit2" class="btn btn-primary "> Envoyer</button>
                                                    <button type="button"
                                                            class="btn btn-outline-secondary"
                                                            onclick="annuler2()"
                                                    >Annuler
                                                    </button>
                                                </div>
                                            </div>

                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- Les filtre
                            <div class="col-3">
                              <label for="membreSelect" class="form-label">Sélectionner un émetteur</label>
                              <select  multiple="multiple" id="membreSelect1"  class=" form-select"  >
                                <option value="" selected="selected">Tout sélectionner</option >
                                <option th:each="p:${Emetteurs}"   th:value="${p.idutilisateur}" th:text="${p.prenom + ' ' + p.nom}"></option>
                              </select>
                            </div>
                            <div class="col-3">
                              <label for="statutSelect" class="form-label">Sélectionner un statut</label>
                              <select  multiple="multiple" id="statutSelect1"  class=" form-select">
                                <option value="" selected="selected">Tout sélectionner</option>
                                <option value="Validée" >Validé</option>
                                <option value="Terminée" >Terminé</option>
                                <option value="En cours" >En cours</option>
                                <option value="En attente" >En attente</option>
                                <option value="Programmée" >Programme</option>
                                <option value="À refaire" >Refaire</option>
                                <option value="Annulée" >Annuleé</option>
                              </select>
                            </div>
                            <div class="col-3">
                              <label for="dateMinSelect" class="form-label">Sélectionner la date d'ouverture MIN</label>
                              <input class="form-control" type="date"  id="dateMinSelect">
                            </div>
                            <div class="col-md-3">
                              <label  for="dateMaxSelect" class="form-label">SÉLECTIONNER LA DATE d'ouverture MAX</label>
                              <input class="form-control" type="date"  id="dateMaxSelect" >
                            </div>-->
                        </div>
                        <!--/ Extra Large Modal pour Creer une Tache -->

                        <table class="table table-bordered table-sm table-secondary" id="example" style="width:100%">
                            <thead>
                            <tr cl>
                                <th  class="capitalize-first Mycolor">Société</th>
                                <th  class="capitalize-first Mycolor">Email</th>
                                <th  class="capitalize-first Mycolor">Tél</th>
                                <th  class="capitalize-first Mycolor">Adresse</th>
                                <th  class="capitalize-first Mycolor">Actions</th>
                            </tr>
                            </thead>
                            <tbody class="table-border">
                            <tr th:each="p:${societeList}">
                                <td th:text="${p.nomsociete}"></td>
                                <td th:text="${p.mailsociete}"></td>
                                <td th:text="${p.telephone}"></td>
                                <td th:text="${p.adressesociete}"></td>
                                <td>
                                    <div class="dropdown">
                                        <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                            <i class="bx bx-dots-vertical-rounded"></i>
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" th:attr="data-id=${p.idsociete}" onclick="editSociete(this)"
                                            ><i class="bx bx-edit-alt me-2"></i> Éditer</a>
                                            <a class="dropdown-item" th:href="@{/deleteSociete/{id}(id=${p.idsociete})}" onclick="confirmDelete(event)">
                                                <i class="bx bx-trash me-2"></i> Supprimer
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!--/ Basic Bootstrap Table -->
        </div>
        <!-- /content-->
    </div>
    <!--/ content div-->


<!-- Core JS -->
<!-- build:js assets/vendor/js/core.js -->
<script src="js/jquery.js"></script>
<script src="js/popper.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/perfect-scrollbar.js"></script>

<script src="js/menu.js"></script>
<!-- endbuild -->

<!-- Vendors JS -->
<script src="js/apexcharts.js"></script>

<!-- Main JS -->
<script src="js/main.js"></script>

<!-- Page JS -->
<script src="js/dashboards-analytics.js"></script>
<script src="js/pages-account-settings-account.js"></script>
<!-- liens pour les websoket + Stom . -->
<script src="js/sockjs.min.js"></script>
<script src="js/stomp.min.js" ></script>
<!-- le script des websoket notification. -->
<script src="js/notifWebSocket.js"></script>
<!-- Place this tag in your head or just before your close body tag. -->

<script src="js/myJs.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/datatables.min.js"></script>
<script src="js/MyDatatableConf.js"></script>
<script>
    function editSociete(button) {
        const idSociete = button.getAttribute("data-id");
        const form = document.getElementById("formAccountSettings");

        // Set the idDomaine input field value and update the button text
        form.querySelector("input[name='idsociete']").value = idSociete;
        form.querySelector("button[type='submit']").textContent = "Mettre à jour";


        /*/ Fetch Domaine details and pre-fill the form fields (you may use AJAX for this)
        // Replace the following lines with your actual data fetching logic
        const nomDomaine = "Fetched Domaine Name"; // Replace with actual name
        const description = "Fetched Description"; // Replace with actual description*/
        // Fetch Domaine details using AJAX
        $.ajax({
            type: "GET", // You may need to adjust this to your backend API
            url: `get-Societe/${idSociete}`, // Replace with your API endpoint
            success: function(data) {
                // Assuming your API returns data in JSON format
                const nomsociete = data.nomsociete;
                const adressesociete = data.adressesociete;
                const mailsociete = data.mailsociete;
                const telephonesociete = data.telephone;


                // Pre-fill the form fields
                form.querySelector("input[name='nomsociete']").value = nomsociete;
                form.querySelector("input[name='adressesociete']").value = adressesociete;
                form.querySelector("input[name='mailsociete']").value = mailsociete;
                form.querySelector("input[name='telephone']").value = telephonesociete;
            },
            error: function(err) {
                // Handle the error if needed
                console.error(err);
            }
        });

        //pour afficher le form
        // Récupérer l'élément du bouton par son attribut 'class'
        var bouton = document.getElementById("creersociete");

        // Vérifier si le bouton a été trouvé
        if (bouton) {
            // Déclencher le clic sur le bouton
            bouton.click();
        } else {
            console.error('Le bouton n\'a pas été trouvé.');
        }


        //srcipt permet de défiler la page vers le haut lorsque l'utilisateur clique sur un bouton
        // Faites défiler la page vers le haut
        window.scrollTo({
            top: 0, // La position en pixels en haut de la page
            behavior: "smooth" // Option pour un défilement fluide
        });

    }


    function annuler()
    {
        // Récupérer l'élément du formulaire par son ID
        var formulaire = document.getElementById('formAccountSettings');

        // Vérifier si le formulaire a été trouvé
        if (formulaire) {
            // Réinitialiser le formulaire
            formulaire.reset();

            if ( formulaire.querySelector("button[type='submit']").textContent === "Mettre à jour") {
                formulaire.querySelector("button[type='submit']").textContent = "Créér";


                const idTacheInput = formulaire.querySelector(`input[name='idsociete']`);
                idTacheInput.value=null;
                idTacheInput.textContent="";

            }
            dateOuvertureactuelle();
        } else {
            console.error('Le formulaire n\'a pas été trouvé.');
        }
    }


    // Sélectionnez tous les éléments avec la classe "show-message"
    var messageElements = document.querySelectorAll('.show-message');

    // Parcourir chaque élément et ajouter la classe "show" (pour l'animation)
    messageElements.forEach(function(element) {
        element.classList.add('show');

        // Supprimer la classe "show" après 5 secondes
        setTimeout(function() {
            element.classList.remove('show');
        }, 5000);
    });
    // Sélectionnez l'élément avec l'id "messages"
    var messagesDiv = document.getElementById("messages");

    // Supprimez la div après 5 secondes (5000 millisecondes)
    setTimeout(function() {
        if (messagesDiv) {
            messagesDiv.remove();
        }
    }, 5500);



    //--------------------pour le formulaire Creer une tâche
    //Pour afficher les taches parentes dans
    // la selelecte dans le formulaire qui permet de creer une tache et actualiser la liste lorsqu'une indexation
    tacheParentes();
    function tacheParentes() {
        $.ajax({
            url: `tachesParentes/`,
            method: 'GET',
            success: function (taches) {

                var tachesParentSelect = $("#tacheparente");
                tachesParentSelect.empty(); // Efface toutes les options actuelles
                tachesParentSelect.append (new Option("Selectionner la tâche parente",-1));
                for (var i = 0; i < taches.length; i++) {
                    var option = new Option(taches[i].nomtache, taches[i].idtache);
                    tachesParentSelect.append(option);
                }
            }
        });
    }

    function annuler2() {
        // Récupérer l'élément du formulaire par son ID
        var formulaire = document.getElementById('formAccountSettings2');
        var   btnSubmit= document.getElementById('submit2');
        var inputEDateOuverture = document.getElementById("DateOuverture");

        // Vérifier si le formulaire a été trouvé
        if (formulaire) {
            // Réinitialiser le formulaire
            formulaire.reset();

            if ( btnSubmit.textContent === "Mettre à jour") {btnSubmit.textContent = "Envoyer";}

            // Pre-select the Proprietaire in the dropdown
            const select1 = formulaire.querySelector("select[name='proprietaire']");
            select1.removeAttribute("readonly");
            select1.onmousedown = null;
            select1.style.cursor = "default";

            // Pre-select the Recepteur in the dropdown
            const select = formulaire.querySelector("select[name='recepteur']");
            select.removeAttribute("readonly");
            select.onmousedown = null;
            select.style.cursor = "default";

            //remove Disable editing and selection for nomtache
            const inputField = formulaire.querySelector(`input[name='nomtache']`);
            inputField.removeAttribute("readonly");
            inputField.onmousedown = null; // Supprimer l'événement onmousedown
            inputField.style.cursor = "text"; // Changer le style du curseur en mode édition

            const idTacheInput = formulaire.querySelector(`input[name='idtache']`);
            idTacheInput.value=null;
            idTacheInput.textContent="";


            // Disable editing and selection for tacheparente
            const selec = formulaire.querySelector("select[name='tacheparente']");
            selec.removeAttribute("readonly");
            selec.onmousedown = null;
            selec.style.cursor = "default";

            //Date d ouverture
            const inputEDateOuverture = formulaire.querySelector(`input[name='dateouverture']`);
            inputEDateOuverture.removeAttribute("readonly");
            inputEDateOuverture.onmousedown = null;
            inputEDateOuverture.style.cursor = "default";
            inputEDateOuverture.disabled=false;
            inputEDateOuverture.onmousedown = null; // Supprimer l'événement onmousedown
            //inputEDateOuverture.style.cursor = "text"; // Changer le style du curseur en mode édition
            dateOuvertureactuelle();
        } else {
            console.error('Le formulaire n\'a pas été trouvé.');
        }

    }

    //pour regler la douverture
    dateOuvertureactuelle();
    function dateOuvertureactuelle(){
        //pour la date douverture
        // Obtenez la date actuelle au format YYYY-MM-DD
        var currentDate = new Date().toISOString().split('T')[0];

        // Mettez à jour l'attribut 'min' du champ de saisie de date avec la date actuelle
        document.getElementById('DateOuverture').min = currentDate;

        // Mettez à jour l'attribut 'value' du champ de saisie de date avec la date actuelle
        document.getElementById('DateOuverture').value = currentDate;
    }

</script>
</body>
</html>



