<!DOCTYPE html>
<html
        lang="en"
        class="light-style layout-menu-fixed"
        dir="ltr"
        data-theme="theme-default"
        data-assets-path="../assets/"
        data-template="vertical-menu-template-free"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout.html}"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"

>
<head>
    <meta charset="utf-8" />
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />

    <title>Do-it4me</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="img/LDFLOGO.png" />

    <!-- Data table ikns-->
    <link href="css/datatables.min.css" rel="stylesheet">



    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="css/boxicons.css" />
    <link rel="stylesheet" href="css/boxicons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="css/perfect-scrollbar.css" />

    <link rel="stylesheet" href="css/apex-charts.css" />

    <!-- Page CSS -->

    <link rel="stylesheet" href="css/myCss.css" />
    <!-- Helpers -->
    <script src="js/helpers.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="js/config.js"></script>
</head>

<body>

<section layout:fragment="content">

    <div class="d-flex justify-content-between">
        <!--chemin-->
        <p class="fw-bold my-primary" style="margin-left: 20px;">
        <span class="text-muted fw-light my-primary">
         <i class="bx bx-cog" style="margin-right: 5px;"></i>
            Administration /</span>
            <i class="bx bx-buildings me-1"></i>Societes
        </p>
        <!--/chemin-->
        <ul class="nav nav-pills flex-column flex-md-row " style="margin-right: 20px;">
            <li>
                <!-- Vertically Centered Modal -->
                <!-- Button trigger modal -->
                <button
                        type="button"
                        class="btn btn-sm me-1 mb-1 btn-primary"
                        data-bs-toggle="modal"
                        data-bs-target="#modalCenter"
                        id="creersociete"

                >
                    <i class="bx bx-add-to-queue me-1"></i> Créer une societe
                </button>
            </li>

        </ul>

    </div>


    <!-- content div-->
    <div class="container-fluid h-auto">
        <div class="content-wrapper">

            <!-- Content -->
            <div class="container-xxl flex-grow-1 " STYLE="padding-top: 0px;margin-top: 2px;padding:0px;">

                <div class="row">
                    <div class="col-md-12">
                        <!-- Modal -->
                        <div class="modal fade" id="modalCenter" tabindex="-1" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button
                                                type="button"
                                                class="btn-close"
                                                data-bs-dismiss="modal"
                                                aria-label="Close"
                                        ></button>
                                    </div>
                                    <div class="modal-body">
                                        <form id="formAccountSettings"  th:action="@{CreateSociete}"  class="form-group" method="post">
                                            <input type="hidden" class="form-control" name="idsociete">

                                            <div class="row mb-3">
                                                <label class="col-sm-2 col-form-label my-primary" for="basic-icon-default-fullname">Nom</label>
                                                <div class="col-sm-10">
                                                    <div class="input-group input-group-merge">
                                                        <span id="basic-icon-default-fullname2" class="input-group-text"><i class="bx bx-buildings"></i></span>
                                                        <input type="text" class="form-control"
                                                               id="basic-icon-default-fullname"
                                                               placeholder="Gynebio"
                                                               name="nomsociete" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <label class="col-sm-2 col-form-label my-primary" for="basic-icon-default-company">Adresse:</label>
                                                <div class="col-sm-10">
                                                    <div class="input-group input-group-merge">
                                                        <span id="basic-icon-default-company2" class="input-group-text"><i class="bx bx-map"></i></span>
                                                        <input type="text"
                                                               id="basic-icon-default-company"
                                                               class="form-control"
                                                               placeholder="Casablanca AV..."
                                                               name="adressesociete">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <label class="col-sm-2 col-form-label my-primary" for="basic-icon-default-email">Email:</label>
                                                <div class="col-sm-10">
                                                    <div class="input-group input-group-merge">
                                                        <span class="input-group-text"><i class="bx bx-envelope"></i></span>
                                                        <input type="email"
                                                               id="basic-icon-default-email"
                                                               class="form-control"
                                                               placeholder="example@gmail.com"
                                                               name="mailsociete">
                                                        <span id="basic-icon-default-email2" class="input-group-text">example@gmail.com</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <label class="col-sm-2 form-label" for="basic-icon-default-phone">Tél:</label>
                                                <div class="col-sm-10">
                                                    <div class="input-group input-group-merge">
                                                        <span id="basic-icon-default-phone2" class="input-group-text"><i class="bx bx-phone"></i></span>
                                                        <input type="number"
                                                               id="basic-icon-default-phone"
                                                               class="form-control phone-mask"
                                                               placeholder="06 79 98 94 11"
                                                               name="telephone"
                                                        >
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row justify-content-end">
                                                <div class="col-sm-10">
                                                    <button type="submit" class="btn btn-primary">Créér</button>
                                                    <button type="reset"
                                                            class="btn btn-outline-secondary"
                                                            onclick="annuler()"
                                                            data-bs-dismiss="modal"
                                                    >Annuler</button>
                                                    <!--<button type="button" class="btn btn-outline-secondary" >
                                                      Close
                                                    </button>-->
                                                </div>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- Basic Bootstrap Table -->
                    <div class="card">
                        <div class="card-body">
                            <div th:if="${not #strings.isEmpty(msg) or not #strings.isEmpty(msgError)  or not #strings.isEmpty(msg1) }" class="mb-3 col-md-12" id="messages">
                                <div th:if="${not #strings.isEmpty(msg)}" class="form-group">
                                    <div class="alert alert-success" th:text="${msg}"></div>
                                </div>
                                <div th:if="${not #strings.isEmpty(msg1)}" class="form-group ">
                                    <div class="alert alert-success" th:text="${msg1}"></div>
                                </div>
                                <div th:if="${not #strings.isEmpty(msgError)}" class="form-group ">
                                    <div class="alert alert-danger" th:text="${msgError}"></div>
                                </div>
                            </div>
                            <div class="table-responsive text-nowrap">

                                <!-- Extra Large Modal pour Creer une Tache -->
                                <div class="modal fade" id="exLargeModal" tabindex="-1" aria-hidden="true" style="padding-top: 170px">
                                    <div class="modal-dialog modal-xl" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button
                                                        type="button"
                                                        class="btn-close"
                                                        data-bs-dismiss="modal"
                                                        aria-label="Close"
                                                ></button>
                                            </div>
                                            <div class="modal-body">
                                                <form id="formAccountSettings2" method="POST" th:action="@{CreateTache}">
                                                    <input type="hidden" class="form-control" name="idtache">
                                                    <input type="hidden" th:value="${utilisateurC.idutilisateur}" class="form-control"
                                                           name="Utilisateur">
                                                    <input type="hidden" name="ismemoire" id="ismemoire" value="false" required/>

                                                    <div class="d-flex align-content-between justify-content-between flex-wrap  pr-0 pl-0">
                                                        <!-- Première div pour le destinataire -->
                                                        <div class="d-flex justify-content-evenly align-content-center">
                                                            <label for="idrecepteur" class="form-label align-content-center  "
                                                                   STYLE="margin-right: 15px;">Destinataire</label>
                                                            <select id="idrecepteur" name="recepteur" class="select2 form-select w-px-160" required>
                                                                <option th:each="p:${Recepteurs}" th:value="${p.idutilisateur}"
                                                                        th:text="${p.prenom + ' ' + p.nom}"></option>
                                                            </select>
                                                        </div>

                                                        <!-- Deuxième div pour la tâche à réaliser -->
                                                        <div class="d-flex justify-content-evenly">
                                                            <label for="nomtache" class="form-label align-content-center"
                                                                   STYLE="margin-right: 15px;">Tâche à réaliser</label>
                                                            <input type="text" class="form-control w-px-170" autofocus name="nomtache" id="nomtache" required>
                                                        </div>

                                                        <!-- Troisième div pour la durée estimée -->
                                                        <div class="d-flex justify-content-evenly">
                                                            <label class="form-label align-content-center" for="dureeEstimee"
                                                                   STYLE="margin-right: 15px;">EN</label>
                                                            <div class="d-flex">
                                                                <input type="number" placeholder="Durée Estimée " id="dureeEstimee" required min="1"
                                                                       name="dureestime" class="form-control w-50"/>
                                                                <label class="form-label align-content-center" for="dureeEstimee"
                                                                       STYLE="margin-left: 10px;">Jour(s)</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <div class="row g-3">

                                                        <div class="col mb-0">
                                                            <label for="idrecepteur" class="form-label align-content-center  "
                                                                   STYLE="margin-right: 15px;">Statut</label>
                                                            <select id="relationTypes" name="relationTypes" class="select2 form-select w-px-160" required>
                                                                <option th:each="p : ${relationTypes}" th:value="${p}">
                              <span th:text="${#strings.arrayContains(p.name(), 'SUBORDONNE') ? 'Subordonné' :
                                       #strings.arrayContains(p.name(), 'COLLEGUE') ? 'Collègue' :
                                       'Supérieur'}"></span>
                                                                </option>
                                                            </select>
                                                        </div>

                                                        <div class="col mb-0">
                                                            <label for="idrecepteur" class="form-label align-content-center  "
                                                                   STYLE="margin-right: 15px;">étape</label>
                                                            <select id="etape" name="etape" class="select2 form-select w-px-160" required>
                                                                <option>Aucune</option>
                                                                <option value="Cadrage">Cadrage</option>
                                                                <option value="Livraison">Livraison</option>
                                                                <option value="Embauche">Embauche</option>
                                                                <option value="Encaissement">Encaissement</option>
                                                            </select>
                                                        </div>

                                                        <div class="col mb-0">
                                                            <label for="Priorite" class="form-label">Priorité</label>
                                                            <select id="Priorite" class="select2 form-select" name="priorite" required>
                                                                <option th:each="p:${priorites}" th:value="${p.idpriorite}"
                                                                        th:text="${p.nompriorite}"></option>
                                                            </select>
                                                        </div>

                                                        <div class="col mb-0">
                                                            <label for="DateOuverture" class="form-label">Date Ouverture</label>
                                                            <input class="form-control" type="date" name="dateouverture" min="" id="DateOuverture"
                                                                   required>
                                                        </div>

                                                        <div class="col mb-0">
                                                            <label for="Proprietaires" class="form-label">Propriétaire</label>
                                                            <select id="Proprietaires" name="proprietaire" class="select2 form-select"
                                                                    required="required" th:with="selectedValue=${utilisateurC.idutilisateur}">
                                                                <option th:each="p:${utilisateurList2}" th:value="${p.idutilisateur}"
                                                                        th:selected="${selectedValue == p.idutilisateur}"
                                                                        th:text="${p.prenom + ' ' + p.nom}"></option>
                                                            </select>
                                                        </div>
                                                        <div class="col mb-0">
                                                            <label for="tacheparente" class="form-label">Tâche parente</label>
                                                            <select id="tacheparente" class="select2 form-select" name="tacheparente">
                                                                <!-- <option  value="">Selectionner la tâche parente</option>
                                                                 <option th:each="TacheParents:${lesTacheParents}" th:value="${TacheParents.idtache}" th:text="${TacheParents.nomtache}"></option>-->
                                                            </select>
                                                        </div>

                                                        <div class="col mb-0">
                                                            <label for="type" class="form-label">Type</label>
                                                            <select class="select2 form-select" required="required"  id="type" name="type">
                                                                <option value="Opérationnel">Opérationnel</option>
                                                                <option value="Projet">Projet</option>
                                                            </select>
                                                        </div>

                                                        <div class="col mb-0">
                                                            <label class="form-label" for="Aunetachesuccessive">Tâche indexée</label>
                                                            <select class="select2 form-select" required="required" id="Aunetachesuccessive" name="aunetachesuccessive">
                                                                <option value="false">Non</option>
                                                                <option value="true">Oui</option>
                                                            </select>
                                                        </div>

                                                        <div class="col mb-0" style="padding-top: 30px;">
                                                            <button type="submit" id="submit2" class="btn btn-primary "> Envoyer</button>
                                                            <button type="button"
                                                                    class="btn btn-outline-secondary"
                                                                    onclick="annuler2()"
                                                            >Annuler
                                                            </button>
                                                        </div>
                                                    </div>

                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Les filtre
                                    <div class="col-3">
                                      <label for="membreSelect" class="form-label">Sélectionner un émetteur</label>
                                      <select  multiple="multiple" id="membreSelect1"  class=" form-select"  >
                                        <option value="" selected="selected">Tout sélectionner</option >
                                        <option th:each="p:${Emetteurs}"   th:value="${p.idutilisateur}" th:text="${p.prenom + ' ' + p.nom}"></option>
                                      </select>
                                    </div>
                                    <div class="col-3">
                                      <label for="statutSelect" class="form-label">Sélectionner un statut</label>
                                      <select  multiple="multiple" id="statutSelect1"  class=" form-select">
                                        <option value="" selected="selected">Tout sélectionner</option>
                                        <option value="Validée" >Validé</option>
                                        <option value="Terminée" >Terminé</option>
                                        <option value="En cours" >En cours</option>
                                        <option value="En attente" >En attente</option>
                                        <option value="Programmée" >Programme</option>
                                        <option value="À refaire" >Refaire</option>
                                        <option value="Annulée" >Annuleé</option>
                                      </select>
                                    </div>
                                    <div class="col-3">
                                      <label for="dateMinSelect" class="form-label">Sélectionner la date d'ouverture MIN</label>
                                      <input class="form-control" type="date"  id="dateMinSelect">
                                    </div>
                                    <div class="col-md-3">
                                      <label  for="dateMaxSelect" class="form-label">SÉLECTIONNER LA DATE d'ouverture MAX</label>
                                      <input class="form-control" type="date"  id="dateMaxSelect" >
                                    </div>-->
                                </div>
                                <!--/ Extra Large Modal pour Creer une Tache -->

                                <table class="table table-bordered table-sm table-secondary" id="example" style="width:100%">
                                    <thead>
                                    <tr cl>
                                        <th  class="capitalize-first Mycolor">Société</th>
                                        <th  class="capitalize-first Mycolor">Email</th>
                                        <th  class="capitalize-first Mycolor">Tél</th>
                                        <th  class="capitalize-first Mycolor">Adresse</th>
                                        <th  class="capitalize-first Mycolor">Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody class="table-border">
                                    <tr th:each="p:${societeList}">
                                        <td th:text="${p.nomsociete}"></td>
                                        <td th:text="${p.mailsociete}"></td>
                                        <td th:text="${p.telephone}"></td>
                                        <td th:text="${p.adressesociete}"></td>
                                        <td>
                                            <div class="dropdown">
                                                <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                                    <i class="bx bx-dots-vertical-rounded"></i>
                                                </button>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item" th:attr="data-id=${p.idsociete}" onclick="editSociete(this)"
                                                    ><i class="bx bx-edit-alt me-2"></i> Éditer</a>
                                                    <a class="dropdown-item" th:href="@{/deleteSociete/{id}(id=${p.idsociete})}" onclick="confirmDelete(event)">
                                                        <i class="bx bx-trash me-2"></i> Supprimer
                                                    </a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!--/ Basic Bootstrap Table -->
                </div>
                <!-- /content-->
            </div>
            <!--/ content div-->
        </div>
    </div>

    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="js/jquery.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/perfect-scrollbar.js"></script>

    <script src="js/menu.js"></script>
    <!-- endbuild -->

    <!-- Vendors JS -->
    <script src="js/apexcharts.js"></script>

    <!-- Main JS -->
    <script src="js/main.js"></script>

    <!-- Page JS -->
    <script src="js/dashboards-analytics.js"></script>
    <script src="js/pages-account-settings-account.js"></script>
    <!-- liens pour les websoket + Stom . -->
    <script src="js/sockjs.min.js"></script>
    <script src="js/stomp.min.js" ></script>
    <!-- le script des websoket notification. -->
    <script src="js/notifWebSocket.js"></script>
    <!-- Place this tag in your head or just before your close body tag. -->

    <script src="js/myJs.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/datatables.min.js"></script>
    <script src="js/MyDatatableConf.js"></script>
    <script>
        function editSociete(button) {
            const idSociete = button.getAttribute("data-id");
            const form = document.getElementById("formAccountSettings");

            // Set the idDomaine input field value and update the button text
            form.querySelector("input[name='idsociete']").value = idSociete;
            form.querySelector("button[type='submit']").textContent = "Mettre à jour";


            /*/ Fetch Domaine details and pre-fill the form fields (you may use AJAX for this)
            // Replace the following lines with your actual data fetching logic
            const nomDomaine = "Fetched Domaine Name"; // Replace with actual name
            const description = "Fetched Description"; // Replace with actual description*/
            // Fetch Domaine details using AJAX
            $.ajax({
                type: "GET", // You may need to adjust this to your backend API
                url: `get-Societe/${idSociete}`, // Replace with your API endpoint
                success: function(data) {
                    // Assuming your API returns data in JSON format
                    const nomsociete = data.nomsociete;
                    const adressesociete = data.adressesociete;
                    const mailsociete = data.mailsociete;
                    const telephonesociete = data.telephone;


                    // Pre-fill the form fields
                    form.querySelector("input[name='nomsociete']").value = nomsociete;
                    form.querySelector("input[name='adressesociete']").value = adressesociete;
                    form.querySelector("input[name='mailsociete']").value = mailsociete;
                    form.querySelector("input[name='telephone']").value = telephonesociete;
                },
                error: function(err) {
                    // Handle the error if needed
                    console.error(err);
                }
            });

            //pour afficher le form
            // Récupérer l'élément du bouton par son attribut 'class'
            var bouton = document.getElementById("creersociete");

            // Vérifier si le bouton a été trouvé
            if (bouton) {
                // Déclencher le clic sur le bouton
                bouton.click();
            } else {
                console.error('Le bouton n\'a pas été trouvé.');
            }


            //srcipt permet de défiler la page vers le haut lorsque l'utilisateur clique sur un bouton
            // Faites défiler la page vers le haut
            window.scrollTo({
                top: 0, // La position en pixels en haut de la page
                behavior: "smooth" // Option pour un défilement fluide
            });

        }


        function annuler()
        {
            // Récupérer l'élément du formulaire par son ID
            var formulaire = document.getElementById('formAccountSettings');

            // Vérifier si le formulaire a été trouvé
            if (formulaire) {
                // Réinitialiser le formulaire
                formulaire.reset();

                if ( formulaire.querySelector("button[type='submit']").textContent === "Mettre à jour") {
                    formulaire.querySelector("button[type='submit']").textContent = "Créér";


                    const idTacheInput = formulaire.querySelector(`input[name='idsociete']`);
                    idTacheInput.value=null;
                    idTacheInput.textContent="";

                }
                dateOuvertureactuelle();
            } else {
                console.error('Le formulaire n\'a pas été trouvé.');
            }
        }


        // Sélectionnez tous les éléments avec la classe "show-message"
        var messageElements = document.querySelectorAll('.show-message');

        // Parcourir chaque élément et ajouter la classe "show" (pour l'animation)
        messageElements.forEach(function(element) {
            element.classList.add('show');

            // Supprimer la classe "show" après 5 secondes
            setTimeout(function() {
                element.classList.remove('show');
            }, 5000);
        });
        // Sélectionnez l'élément avec l'id "messages"
        var messagesDiv = document.getElementById("messages");

        // Supprimez la div après 5 secondes (5000 millisecondes)
        setTimeout(function() {
            if (messagesDiv) {
                messagesDiv.remove();
            }
        }, 5500);



        //--------------------pour le formulaire Creer une tâche
        //Pour afficher les taches parentes dans
        // la selelecte dans le formulaire qui permet de creer une tache et actualiser la liste lorsqu'une indexation
        tacheParentes();
        function tacheParentes() {
            $.ajax({
                url: `tachesParentes/`,
                method: 'GET',
                success: function (taches) {

                    var tachesParentSelect = $("#tacheparente");
                    tachesParentSelect.empty(); // Efface toutes les options actuelles
                    tachesParentSelect.append (new Option("Selectionner la tâche parente",-1));
                    for (var i = 0; i < taches.length; i++) {
                        var option = new Option(taches[i].nomtache, taches[i].idtache);
                        tachesParentSelect.append(option);
                    }
                }
            });
        }

        function annuler2() {
            // Récupérer l'élément du formulaire par son ID
            var formulaire = document.getElementById('formAccountSettings2');
            var   btnSubmit= document.getElementById('submit2');
            var inputEDateOuverture = document.getElementById("DateOuverture");

            // Vérifier si le formulaire a été trouvé
            if (formulaire) {
                // Réinitialiser le formulaire
                formulaire.reset();

                if ( btnSubmit.textContent === "Mettre à jour") {btnSubmit.textContent = "Envoyer";}

                // Pre-select the Proprietaire in the dropdown
                const select1 = formulaire.querySelector("select[name='proprietaire']");
                select1.removeAttribute("readonly");
                select1.onmousedown = null;
                select1.style.cursor = "default";

                // Pre-select the Recepteur in the dropdown
                const select = formulaire.querySelector("select[name='recepteur']");
                select.removeAttribute("readonly");
                select.onmousedown = null;
                select.style.cursor = "default";

                //remove Disable editing and selection for nomtache
                const inputField = formulaire.querySelector(`input[name='nomtache']`);
                inputField.removeAttribute("readonly");
                inputField.onmousedown = null; // Supprimer l'événement onmousedown
                inputField.style.cursor = "text"; // Changer le style du curseur en mode édition

                const idTacheInput = formulaire.querySelector(`input[name='idtache']`);
                idTacheInput.value=null;
                idTacheInput.textContent="";


                // Disable editing and selection for tacheparente
                const selec = formulaire.querySelector("select[name='tacheparente']");
                selec.removeAttribute("readonly");
                selec.onmousedown = null;
                selec.style.cursor = "default";

                //Date d ouverture
                const inputEDateOuverture = formulaire.querySelector(`input[name='dateouverture']`);
                inputEDateOuverture.removeAttribute("readonly");
                inputEDateOuverture.onmousedown = null;
                inputEDateOuverture.style.cursor = "default";
                inputEDateOuverture.disabled=false;
                inputEDateOuverture.onmousedown = null; // Supprimer l'événement onmousedown
                //inputEDateOuverture.style.cursor = "text"; // Changer le style du curseur en mode édition
                dateOuvertureactuelle();
            } else {
                console.error('Le formulaire n\'a pas été trouvé.');
            }

        }

        //pour regler la douverture
        dateOuvertureactuelle();
        function dateOuvertureactuelle(){
            //pour la date douverture
            // Obtenez la date actuelle au format YYYY-MM-DD
            var currentDate = new Date().toISOString().split('T')[0];

            // Mettez à jour l'attribut 'min' du champ de saisie de date avec la date actuelle
            document.getElementById('DateOuverture').min = currentDate;

            // Mettez à jour l'attribut 'value' du champ de saisie de date avec la date actuelle
            document.getElementById('DateOuverture').value = currentDate;
        }

    </script>

</section>



</body>
</html>



